<!-- entrant -->
<table class='res'>
<tbody>
<tr class='head'><th colspan='{{5}}'>{{driver.firstname}} {{driver.lastname}} - Course {{driver.lastcourse}}</th></tr>
<tr class='subhead'>
<th width='10%'>#</th><th width='35%'>Raw</th><th width='10%'>C</th><th width='10%'>G</th><th width='35%'>Net</th></tr>

{% for ii in range(event.runs) %}
{% set run = driver.runs[driver.lastcourse-1][ii] %}

{% if run.status != 'PLC' %}
<tr class='{{run.norder==1 and 'highlight' or ''}} {{run.oldbest and 'improvedon' or ''}} {{run.ispotential and 'couldhave' or ''}}'>
<td>{{run.run}}</td>
<td>{{run.raw|t3}}
{% if run.rawimp is defined %}<span class='change'>[{{run.rawimp|t3(sign=True)}}]</span>{% endif %}
</td>
<td>{{run.cones}}</td>
<td>{{run.gates}}</td>
{% if run.status != "OK" %}
<td><span class='status'>{{run.status}}</td>
{% else %}
<td>{{run.net|t3}} {% if run.netimp %}<span class='change'>[{{run.netimp|t3(sign=True)}}]</span>{% endif %}</td>
{% endif %}
</tr>
{% endif %}

{% endfor %}

</tbody>
</table>
