{% extends "common/base.html" %}
{% import 'common/macros.html' as m %}

{% block headers %}
{% assets "announcer.css" %} 
	<link rel="stylesheet" href="{{ASSET_URL}}" /> 
{% endassets %}

{% assets "announcer.js" %}
	<script type="text/javascript" src="{{ASSET_URL}}"></script>
{% endassets %}

{% endblock %}

{% block content %}

<table class='layout' id='mainlayout'><tr><td>

<span class='header'>Timer</span>
<span id='timeroutput'>0.000</span>

<div id='runorder' class='ui-widget'></div>

<nav class="nav nav-tabs justify-content-center" role="tablist">
    <a class="nav-link"        role="tab" data-toggle="tab" href="#nexte">Next To Finish</a>
    <a class="nav-link active" role="tab" data-toggle="tab" href="#firste">Last To Finish</a>
    <a class="nav-link"        role="tab" data-toggle="tab" href="#seconde">Second To Last</a>
    <a class="nav-link"        role="tab" data-toggle="tab" href="#specclass">Specific Class</a>
</nav>

{% macro elayout() %}
    <table class='next'>
        <tr><td class='entrant' colspan=2></td></tr>
        <tr><td class='class'></td><td class='champ'></td></tr>
    </table>
{% endmacro %}

<div id="entranttabs" class="tab-content">
    <div id="nexte"   role="tabpanel" class="tab-pane"        modified='0'>{{elayout()}}</div>
    <div id="firste"  role="tabpanel" class="tab-pane active" modified='0'>{{elayout()}}</div>
    <div id="seconde" role="tabpanel" class="tab-pane"        modified='0'>{{elayout()}}</div>
    <div id="specclass" role="tabpanel" class="tab-pane"      modified='0'>{{elayout()}}</div>
</div>

</td><td>

<span class='header'>Top Times</span>
<nav class="nav nav-tabs justify-content-center" role="tablist">
    <a class="nav-link"        role="tab" data-toggle="tab" href="#toprawcell">Unindexed</a>
    <a class="nav-link active" role="tab" data-toggle="tab" href="#topnetcell">Indexed</a>
    {% for ii in range(g.event.segments) %}
    <a class="nav-link"        role="tab" data-toggle="tab" href="#topseg{{ii}}cell">Seg {{ii}}</a>
    {% endfor %}
</nav>
<div id="toptimetabs" class="tab-content">
    <div id="toprawcell" role="tabpanel"       class="tab-pane"></div>
    <div id="topnetcell" role="tabpanel"       class="tab-pane active"></div>
	{%for ii in range(g.event.segments) %}
    <div id="topseg{{ii}}cell" role="tabpanel" class="tab-pane"></div>
	{% endfor %}
</div>

</td></tr></table>

{% call m.modal("classSelectModal", "View Class", "") %}
    <input type='text' value=''/>
{% endcall %}

{% endblock content %}

