{% extends "common/base.html" %}
{% import 'common/macros.html' as m %}

{% block headers %}
{% assets "announcer.css" %} 
	<link rel="stylesheet" href="{{ASSET_URL}}" /> 
{% endassets %}

{% assets "announcer.js" %}
	<script type="text/javascript" src="{{ASSET_URL}}"></script>
{% endassets %}

<style>
.layout{ width: 100%; margin: 0; }
</style>

{% endblock %}

{% block content %}

<table class='layout'>
<tr>

<td>
<span class='header'>Left</span>
<span id='lefttimer'>0.000</span>
<span id='leftentrant'>stuff</span>
</td>

<td>
<span class='header'>Results</span>
<nav class="nav nav-tabs justify-content-center" role="tablist">
    <a class="nav-link active" role="tab" data-toggle="tab" href="#firste">Last Pair</a>
    <a class="nav-link"        role="tab" data-toggle="tab" href="#seconde">Previous</a>
    <a class="nav-link"        role="tab" data-toggle="tab" href="#specclass">Specific Class</a>
    <a class="nav-link"        role="tab" data-toggle="tab" href="#toprawcell">TT</a>
    <a class="nav-link"        role="tab" data-toggle="tab" href="#topnetcell">PAX</a>
</nav>

<div id="entranttabs" class="tab-content">
    <div id="firste"     role="tabpanel" class="tab-pane active" modified='0'>
        <table class='next'><tr><td class='class'></td><td class='champ'></td></tr></table>
    </div>
    <div id="seconde"    role="tabpanel" class="tab-pane"        modified='0'></div>
    <div id="specclass"  role="tabpanel" class="tab-pane"        modified='0'></div>
    <div id="toprawcell" role="tabpanel" class="tab-pane"></div>
    <div id="topnetcell" role="tabpanel" class="tab-pane"></div>
</div>
</div>
</td>

<td>
<span class='header'>Right</span>
<span id='righttimer'>0.000</span>
<span id='rightentrant'>stuff</span>
</td>

</tr>
</table>

{% call m.modal("classSelectModal", "View Class", "") %}
    <input type='text' value=''/>
{% endcall %}

{% endblock content %}

