{% extends "common/base.html" %}
{% import 'common/macros.html' as m %}

{% block headers %}
{% assets "announcer.css" %} 
	<link rel="stylesheet" href="{{ASSET_URL}}" /> 
{% endassets %}

{% assets "proannouncer.js" %}
	<script type="text/javascript" src="{{ASSET_URL}}"></script>
{% endassets %}

<style>
.layout{ width: 100%; margin: 0; }
.leftcol, .rightcol { min-width: 10rem; }
</style>

{% endblock %}

{% block content %}

<table class='layout'>
<tr>

<td class='leftcol'>
<span class='header'>Left</span>
<span id='lefttimer'></span>
<span id='leftentrant'>Waiting for data</span>
</td>

<td class='centercol'>
<span class='header'>ProSolo Results</span>
<nav class="nav nav-tabs justify-content-center" role="tablist">
    <a class="nav-link active" role="tab" data-toggle="tab" href="#classresult">Last</a>
    <a class="nav-link"        role="tab" data-toggle="tab" href="#specclass">ByClass</a>
    <a class="nav-link"        role="tab" data-toggle="tab" href="#toprawcell">TT</a>
    <a class="nav-link"        role="tab" data-toggle="tab" href="#toprawcell1">TTL</a>
    <a class="nav-link"        role="tab" data-toggle="tab" href="#toprawcell2">TTR</a>
    <a class="nav-link"        role="tab" data-toggle="tab" href="#topnetcell">PAX</a>
    <a class="nav-link"        role="tab" data-toggle="tab" href="#topnetcell1">PAXL</a>
    <a class="nav-link"        role="tab" data-toggle="tab" href="#topnetcell2">PAXR</a>
</nav>

<div id="entranttabs" class="tab-content">
    <div id="classresult" role="tabpanel" class="tab-pane active" modified='0'>
        <table class='next'><tr><td class='class'></td><td class='champ'></td></tr></table>
    </div>
    <div id="specclass"  role="tabpanel" class="tab-pane"        modified='0'>
        <div class='help'>Type class code letters to select a class to view</div>
        <table class='next'><tr><td class='class'></td><td class='champ'></td></tr></table>
    </div>
    <div id="toprawcell"  role="tabpanel" class="tab-pane"></div>
    <div id="toprawcell1" role="tabpanel" class="tab-pane"></div>
    <div id="toprawcell2" role="tabpanel" class="tab-pane"></div>
    <div id="topnetcell"  role="tabpanel" class="tab-pane"></div>
    <div id="topnetcell1" role="tabpanel" class="tab-pane"></div>
    <div id="topnetcell2" role="tabpanel" class="tab-pane"></div>
</div>
</div>
</td>

<td class='rightcol'>
<span class='header'>Right</span>
<span id='righttimer'></span>
<span id='rightentrant'>Waiting for data</span>
</td>

</tr>
</table>

{% call m.modal("classSelectModal", "View Class", "") %}
    <input type='text' value=''/>
{% endcall %}

{% endblock content %}

