__pycache__
.cache
*.pyc
*.db
*.swp
*.env
*.log*
*.egg-info
web/nwrsc/static/*.js
web/nwrsc/static/*.css
web/nwrsc/static/.webassets-cache
web/nwrsc/static/swaggerui
web/nwrsc/api/models/*
!web/nwrsc/api/models/base_model_.py
build
dist
