{% extends "common/base.html" %}
{% import "challenge/challengemacros.html" as m %}

{% block headers %}
{{super()}}
{%- assets filters="libsass,cssmin", output="results.css", "scss/results.scss" -%}
<link rel="stylesheet" href="{{ASSET_URL}}" /> 
{%- endassets -%}
{% endblock headers %}

{% block content %}
<div class='container'>
<h3>{{chal.name}}</h3>
{% for round in results | sort(reverse=True) %}
{% if round <= 98 and round > 1 %}
	{% if round == 31 %}<h5>Bittersweet Thirty-two</h5>{% endif %}
	{% if round == 15 %}<h5>Sweet Sixteen</h5>{% endif %}
	{% if round == 7  %}<h5>Quarter Finals</h5>{% endif %}
	{% if round == 3  %}<h5>Semi Finals</h5>{% endif %}
{{m.roundReport(results[round])}}
{% endif %}
{% endfor %}
<h5>Third Place</h5>
{{m.roundReport(results[99])}}
<h5>Final</h5>
{{m.roundReport(results[1])}}
</div>

{% endblock content %}

