
{% macro flashdisplay(outerclass='') %}
    <div class='{{outerclass}}'>
    {% for cat, msg in get_flashed_messages(with_categories=true) %}
        <div class='flash-{{cat}}'>{{msg}}</div>
    {% endfor %}
    </div>
{% endmacro %}


{% macro modal(id, title, body, extraclass='') %}
<div class='modal fade' id='{{id}}' tabindex=-1 role='dialog'>
<div class='modal-dialog {{extraclass}}' role='document'>
<div class='modal-content' style='overflow:hidden'>

<div class='modal-header'>
<h1 class='modal-title text-center'>{{title}}</h1>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times-circle" aria-hidden="true"></span></button>
</div> {# modal-header #}

<div class='modal-body'>
<div class='container-fluid'>
<div class='modal-error'></div>
{{ body|safe }}
{{caller() if caller}}
</div> {# container-fluid #}
</div> {# modal-body #}

</div> {# modal-content #}
</div> {# modal-dialog #}
</div> {# modal #}
{% endmacro %}


{% macro navbarbrand(title) %}
  <div class='navbar-brand dropdown'>
    <a class='dropdown-toggle' href='#' data-toggle="dropdown"><img src='/static/images/cone.png'/>{{title}}</a>
  </div>
{% endmacro %}

