$basecolor: #3f75a2;
$headerfill: $basecolor;
$titlesfill: lighten( $basecolor, 10% );
$tabcolor: darken( $basecolor, 10% );

@import "common.scss";
@import "../bootstrap/4.1.0/css/bootstrap";

.layout {
  font-size: 0.9rem;
  margin: 4px;
  td {
    vertical-align: top;
	padding: 1px;
	padding-top: 5px;
  }
  table {
    width: 100%;
  }
}

a {
    color: $tabcolor; 
}

.modal {
    h1 {
        font-size: 1.1rem;
    }
    input {
        width: 100%;
    }
}

.nav-link.active {
  background-color: $tabcolor !important;
  color: white !important;
}

.nav-link {
  border-color: #BBB !important;
}

#timeroutput, #lefttimer, #righttimer {
	font-size: 2.5rem;
	color: #444;
	display: block;
	text-align: center;
}

#leftentrant, #rightentrant {
    display: block;
}

#runorder {
  margin-bottom: 0.5rem;
}

/*
#specclass {
    tr {
        &.highlight td, &.improvedon, &.couldhave {
            font-weight: normal;
            font-size: 100%;
            color: inherit;
            background: inherit;
        }
    }
}
*/


table.next {
    & > tbody > tr > td {
        border: none !important;
        vertical-align: top;
    }
}


table.res {
    width: 100%;
    margin-top: 3px;
    td {
        white-space: nowrap;
        border: 1px solid gray;
        padding: 2px;
    }
}

div.halffiller {
  padding-top: 2rem;
  text-align: center;
}

div.help {
    text-align: center;
    background: $titlesfill;
    color: white;
    margin: 0px 5px 2px;
}

.layout {
    table {
        td, th {
            border: 1px grey solid;
            padding: 0 0.3rem;
            vertical-align: top;
        }
        td.fullwidth, td.halfwidth {
            border: 0;
            padding: 0.2rem;
        }
    }
}
  
span.header {
  font-weight: bold;
  background-color: $headerfill;
  color: white;
  display: block;
  border: 1px solid gray;
  text-align: center;
}

span.change {
  font-size: 0.9em;
  font-weight: bold;
}

span.status {
  font-weight: bold;
}

td.reaction, td.sixty {
    font-size: 1.2rem;
    vertical-align: middle !important;
}

td.raw {
    height: 4rem;
}

td.notstaged {
    color: blue;
}

td.redlight {
    color: red;
}

tr {
  &.head th {
    text-align: center;
    font-weight: bold;
    background-color: $headerfill;
    border-color: $headerfill;
    color: white;
  }
  &.subhead th {
    text-align: center;
    font-weight: bold;
    background-color: $titlesfill;
    border-color: $titlesfill;
    color: white;
  }
  &.highlight td, &.improvedon, &.couldhave {
    font-size: 110%;
    font-weight: bold;
  }
  &.highlight td {
    background: #DDD;
  }
  &.improvedon td {
    background: #EEF;
    color: #99E;
  }
  &.couldhave td {
    background: #EDD;
    color: #E77;
  }
}

