
.container {
    margin-bottom: 1rem;
}

.error {
    color: red;
    text-align: center;
}

.navbar {
    padding: 0.2rem;
    margin-bottom: 0.5rem;

    .nav-item > a:hover  {
        color: white !important;
    }
    .navbar-brand > img {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}


input[name=confirm] {
    display: none;
}

