
.container, .container-fluid {
    margin-bottom: 1rem;
}

.error {
    color: red;
    text-align: center;
}

.navbar {
    padding: 0.2rem;
    margin-bottom: 0.5rem;

    .nav-item > a:hover  {
        color: white !important;
    }
    .navbar-brand > img {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.modal-header {
    padding: 0.5rem 1.0rem;
    background: $bootstrapcolor;
    color: white;
    border-bottom: 1px solid darken($bootstrapcolor, 10%);
    button span {
        color: white;
    }
    h1 {
        font-size: 1.4rem;
    }
}


form {
    label {
        text-align: right;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

   
    label.error {
        color: red;
        margin-left: auto;
    }

    input.error, select.error {
        background: rgba(255, 0, 0, 0.1);
    }

    /* just for our flask form bootstrap layout */
    .row {
        input, select {
            margin: 0.2rem 0px;
            height: 1.8rem;
            padding-left: 0.5rem !important;
            width: 100%;
        }
         input[type=submit] {
            height: 2.0rem;
            margin-top: 0.8rem;
            padding: 0px;
        } 

        input[type=checkbox] {
            flex: initial;
        }
    }
}

input[name=confirm] {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 768px) {
    form {
        label {
            text-align: left;
            margin-left: 0px;
            margin-bottom: -5px;
            padding-left: 0.1rem !important;
        }
    }

    .col-md-6 {
        margin-top: 1rem;
    }
}

/* The used number expandable in a car dialog */
#usedwrapper {
    width: 90%;
    margin: auto;

    a {
        display: block;
        width: 100%;
        text-align: center;
    }

    ul {
        text-align: center;
        padding-right: 2.0rem;
        li {
            display: inline-block;
            width: 2.6rem;
            text-align: right;
        }
    }
}


