$basecolor: #c4ac11;
$subheadgray: #ccc;

@import "../bootstrap/4.1.1/css/bootstrap";
@import "common.scss";

@include bootstraptheme("results", $basecolor);

.markdown {

    ul {
        list-style: initial;
        margin-left: 2rem;
    }

    ul, ol {
        margin-bottom: 1rem !important;
        p {
            margin-left: 0;
        }

        ul {
            margin-left: 0;
        }
    }

    code {
        display: block;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 0.8rem;
        border: 1px solid #CCC;
        background-color: #F6F6F6;
        color: #900;
    }

    h1 { font-size: 2.0rem; margin-left: 0.0rem; margin-top: 2.0rem; }
    h2 { font-size: 1.5rem; margin-left: 0.2rem; margin-top: 1.7rem; }
    h3 { font-size: 1.2rem; margin-left: 0.4rem; margin-top: 1.1rem; }
    h4 { font-size: 1.1rem; margin-left: 0.6rem; margin-top: 1.0rem; }
    h5 { font-size: 1.0rem; margin-left: 0.7rem; margin-top: 0.9rem; }
    p  { font-size: 1.0rem; margin-left: 1.2rem; }

    h1:first-child {
        border-bottom: 1px solid #DDD;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h1:first-child + * {
        margin-top: 1rem;
    }

    h2 + h3 {
        margin-top: 1rem;
    }

    table.barcodes {
        width: 100%;
        margin-left: 1.2rem;
    }

    img {
        vertical-align: top;
    }

    span.spacer100 {
        display: inline-block;
        width: 100px;
    }
}

@media print {
    .container-fluid {
        margin: 0;
    }
}

