$basecolor: #3771ce;
$bordercolor: #BBB;

@import "../bootstrap/4.1.0/css/bootstrap";
@import "common.scss";

@include bootstraptheme("register", $basecolor);

/* Things for all pages */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 1.4rem;
    border-bottom: 1px solid $bordercolor;
    margin-bottom: 0.5rem;
    text-align: center;
    span.smaller {
        font-size: 1.0rem;
        vertical-align: sub;
    }
}


.optout {
    color: red;
    font-weight: bold;
}

.barcodewarning {
    text-align: center;
    margin-right: 15px;
    margin-top: -10px;
    background: #ffdded;
    color: #b13636;
    font-size: 0.9rem;
}

#barcodemodal {
    font-size: 0.9rem;
}

.cardisplay {
    span {
        white-space: nowrap;
    }
    span.code {
        font-weight: bold;
        display: block;
    }
    span.label {
        font-size: 70%;
        margin-left: 0.1rem;
    }
    span.unpaid {
        color: red;
    } 
    span.paid {
        color: green;
    } 
    span.desc {
        font-size: 0.9rem;
    }
}

span.payments {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    font-weight: bold;
    span.amount {
        display: block;
        text-align: center;
        font-weight: normal;
    }
}

.eventcarlist {
    .error {
        text-align: left;
        margin-left: 1rem;
    }
}

table.registration {
	margin: 0px auto;
    @extend .table-striped;

    tr.head th {
        background-color: desaturate($basecolor, 5%);
        font-weight: 500;
        color: white;
        text-align: left;
        padding-left: 0.6rem;
        padding-right: 0.2rem;
    }

    tr.subhead th {
        background-color: #ccc;
        text-align: center;
        padding: 0.1rem 0.3rem;
    }
}


/* Some adjustments when bootstrap adjusts at the sm boundary */

@media (min-width: 768px) {
    .detailscontainer {
        dt {
            display: inline-block;
            width: 4rem;
            text-align: right;
            margin-right: 0.3rem;
        }
        dd {
            word-wrap: break-word;
            &:after {
                content:'';
                display: block;
            }
        }
        dd.ddhtml {
            margin-left: 3.0rem;
        }
        
        dd:not(.ddhtml) {
            margin-left: 0.3rem;
            display: inline;
            > * {
                display: inline-block;
                vertical-align: middle;
                margin-left: -0.3rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .eventcarlist {
        button {
            width: 100%;
            margin-bottom: 0.5rem;
        }
        span.payments {
            margin: auto 0;
        }
    }
}

/* Things specific to particular containers */

#loginouter {
    margin-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 40rem;

    h1, h3 {
        text-align: center;
        margin-bottom: 1rem;
    }

    small.col {
        text-align: center;
    }

    .tab-content {
        margin-top: 1rem;
    }
}

#profileouter {
    button.editprofile, button.changepassword {
        margin-top: 1rem;
    }

    .driverwrapper {
        .name {
            font-weight: bold;
        }
        :not(.name) {
            font-size: 0.9rem;
            margin-left: 0.3rem;
        }
    }

    .icallink {
        .fa-calendar {
            margin-right: 0.2rem;
        }
    }

    .eventtitle {
        font-size: 1.05rem;
        white-space: nowrap;
        overflow: hidden;
        .date {
            font-weight: bold;
        }
    }

    ol {
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 2rem;
    }
}
    

#eventsouter {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#eventscontainer {
    width: 100%;
    min-width: 20rem;
    margin: auto;

    > .title {
        border-bottom-style: none;
    }

    div.eventheader {
        border-top: 1px solid $bordercolor;
        border-radius: 8px;

        a {
            cursor: pointer;
            text-decoration: none;
            font-size: 1.2rem;
            margin: 0.1rem;
            width: 100%;
        }

        &.eventopen a {
            color: #2828ff;
        }

        &.eventclosed span {
            color: #888;
        }

        .eventdate {
            display: inline-block;
            width: 7.1rem;
            text-align: right;
        }
    
        .eventname {
            margin-left: 0.5rem;
        }
    }

    div.eventholder {
        .header {
            font-weight: bold;
            font-size: 1.1rem;
            border-bottom: 1px dotted $bordercolor;
            padding-left: 1rem;
            margin-bottom: 0.4rem;

        }

        dl {
            margin-top: -0.4rem;
            margin-left: 0.4rem;
        }
    }

    .fa-pulse {
        display: block;
        margin: auto;
    }
    
    div.insidewrapper {
        padding: 0.5rem;
        width: 100%;
    }

    ol {
        overflow: hidden;
        padding-left: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .alert {
        display: inline-block;
        margin: 0.3rem 0;
        padding: 0.3rem 0.5rem;
    }
}
    

#carscontainer {
    table {
        margin: auto;
        td {
            padding: 0.25rem;
        }
    }

    button.newcar {
        width: 100%;
    }

    .fa {
        font-size: 1.4rem;
        padding: 0.4rem 0.8rem;
    }
}


#registermodal {
    label {
        font-weight: normal;
        text-align: left;
    }

    .fa-car {
        margin: 0 0.5rem 0;
    }

    .row:hover {
        background: rgba(0,0,255, 0.1);
    }

    input[type=checkbox] {
        margin: 0.5rem;
        margin-left: auto;
    }
}


#paymentmodal {
    .cardisplay {
        line-height: normal;
        text-align: right;
        margin: 0.2rem 0;
    }
}

