$basecolor: #4682B4;
$subheadgray: #ccc;

@import "../extern/bootstrap-4.0.0b.scss";
@import "common.scss";

@include bootstraptheme("results", $basecolor);

.bg-results {
    background-color: $basecolor;
}

.container-fluid {
    margin-top: 1rem;
    font-size: 0.9rem;

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

    .minwarning {
        text-align: center;
    }

    .classlinks { // shortcuts at top of event results
        margin-bottom: 10px;
        text-align: center;
        a {
            margin-left: 2px;
            margin-right: 2px;
        }
    }
}

table {
	margin: 0px auto;
    &:not(.pro) {
        @extend .table-striped;
    }

    tr.head th { 
        background-color: $basecolor;
        color: white; 
        text-align: left; 
		font-size: 1.0rem;
        padding-left: 0.6rem;
    }

    tr.subhead th { 
        background-color: $subheadgray;
        text-align: center;
        padding: 0.1rem 0.3rem;
    }

    tr.missingmin td { // haven't met championship min
    	color: #ccc;
    }

    tr.entrantrow, tr.head  { 
        border-top: 1px solid $subheadgray;
    }

    td {
        padding: 0.2rem 0.5rem;

		&.name {
			max-width: 10rem;
		}

		&.cardesc {
			max-width: 18rem;
		}

        &.trophy, &.sort, &.bestnet {
            font-weight: bold;
        }

        &.run, &.points, &.attend {
            text-align: center;
        }

        &.carnum {
            text-align: right;
        }

        &.bestnet .net {
            text-decoration: underline;
        }

        &.drop {
            text-decoration: line-through;
            color: #BBB;
        }

        span { 
            &.raw, &.net {
                display: block;
            }
            &.reaction {
                display: block;
                font-size: 0.8em;
            }
        }
    }
}

// Borders to separate multiple tables of toptime data in one table
table.toptimes {
	td.pos {
		border-left: 1px solid $subheadgray;
	}
	td.time {
		border-right: 1px solid $subheadgray;
		font-size: 1.1em;
		font-weight: bold;
	}
}

// Some extra borders for printout
table.dialins {
	td { 
		border-top: 1px solid $subheadgray;
	}
}

// Special table for challenge report
table.challengeround {
    margin-bottom: 20px;
	tr.winner td {
	    background: lighten(adjust-hue($basecolor, 10), 40%);
	}
	td.entrant {
	    width: 180px;
	}
	span.dial {
		font-weight: bold;
        float: right;
	}
	td.result {
	    text-align: center;
	    font-size: 1.2em;
	}
}


/* For printing: use the whole page, remove excess columns and clear background colors */
@media print {
    .container-fluid {
        margin: 0;
    }

    th {
        color: black !important;
		background: none;
    }

	.caryear, .cardesc {
		display: none;
	}
}

