{% extends "common/base.html" %}
{% block headers %}
{%- assets filters="libsass", depends="scss/*.scss", output="admin.css", "scss/admin.scss" -%}
<link rel="stylesheet" href="{{ASSET_URL}}" /> 
{%- endassets -%}

{% assets output="admin.js", "extern/jquery-3.2.0.js", "extern/jquery.validate-1.16.js", "extern/popper-1.11.0.js", "extern/bootstrap-4.0.0b.js", "extern/flatpickr.js", 
                             "extern/datatables-1.10.16.js",  "extern/datatables-1.10.16-bootstrap4.js", "extern/datatables-select-1.2.3.js",
                             "js/common.js", "js/admin.js" %}
    <script type="text/javascript" src="{{ASSET_URL}}"></script>
{% endassets %}
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-success">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class='navbar-brand'><img src='/static/images/cone.png'/>Scorekeeper Admin {{g.series}}</div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

        <li id="seriesdropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="seriesdropdownlink" data-toggle="dropdown">Series</a>
          <div class="dropdown-menu">
          {% for s in g.activeseries %}
              <a class="dropdown-item" href="{{url_for(".index", series=s)}}">{{s}}</a>
          {% endfor %}
          </div>
        </li>

        <li id="eventdropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="eventdropdownlink" data-toggle="dropdown">Events</a>
          <div class="dropdown-menu">
          {%for event in g.events|sort(attribute='date') %}
              <a class="dropdown-item" href='{{url_for('.event', eventid=event.eventid)}}'>{{event.name}}</a>
          {% endfor  %}
          </div>
        </li>

        <li id="settingsdropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="settingsdropdownlink" data-toggle="dropdown">Settings</a>
          <div class="dropdown-menu">
            <a class='dropdown-item' href='{{url_for('.settings')}}'>General</a>
            <a class='dropdown-item' href='{{url_for('.classlist')}}'>Classes</a>
            <a class='dropdown-item' href='{{url_for('.indexlist')}}'>Indexes</a>
            <a class='dropdown-item' href='{{url_for('.drivers')}}'>Driver/Car Editor</a>
          </div>
        </li>

        <li id="reportsdropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="reportsdropdownlink" data-toggle="dropdown">Reports</a>
          <div class="dropdown-menu">
            <a class='dropdown-item' href='{{url_for('.seriesattend')}}'>Series Attendance</a>
            <a class='dropdown-item' href='{{url_for('.eventattend')}}'>Events Attendance</a>
            <a class='dropdown-item' href='{{url_for('.uniqueattend')}}'>Unique Attendance</a>
            <a class='dropdown-item' href='{{url_for('.numbers')}}'>Used Car Number List</a>
            <div class="dropdown-divider"></div>
            <a class='dropdown-item' href='{{url_for('.contactlist')}}'>Contact List</a>
          </div>
        </li>

        <li id="createdropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="createdropdownlink" data-toggle="dropdown">Create</a>
          <div class="dropdown-menu">
            <a class='dropdown-item' href='{{url_for('.createevent')}}'>New Event</a>
            <a class='dropdown-item' href='{{url_for('.newseries')}}'>New Series From Current</a>
          </div>
        </li>

    </ul>
  </div>
</nav>

<div class='formerror'>
{% for msg in get_flashed_messages() %}
<div class='error'>{{msg}}</div>
{% endfor %}
</div>

{% endblock content %}
