{% extends "admin/bluebase.html" %}

{% block headers %}
{{super()}}
<script>
function checkname() {
    $('input[type=submit]').prop('disabled', $(this).val() != "{{g.series}}");
}
$(document).ready(function(){
    $('input[name="name"]').bind("change keyup input", checkname).prop('autocomplete', 'off');
    checkname.call($('input[type=submit]'));
});

</script>
{% endblock headers %}

{% block content %}
{{super()}}
<div class='container'>
<h3>Archive Series</h3>
<p>
Archive will make sure all the results, raw and calculated, are stored for retrieval but the actual series tables will be deleted.<br/>
To continue, type the name of the series into the box and click Archive.
</p>

{% if ismainserver: %}
{{ form.html('archiveform', url_for('.archive'), 'post', 'btn-admin', 'col-md-3', 'col-md-4') | safe }}
{% else %}
<small>Series archiving is only available on the main server</small>
{% endif %}

</div>
{% endblock %}
