{% extends "common/base.html" %}
{% import "common/macros.html" as m %}
{% block headers %}
{%- assets "admin.css" %}
<link rel="stylesheet" href="{{ASSET_URL}}" /> 
{%- endassets -%}

{% assets "admin.js" %}
    <script type="text/javascript" src="{{ASSET_URL}}"></script>
{% endassets %}

{% if not g.series %}
<script type="text/javascript">
$(document).ready(function(){ shownavmenu('#navbarNav', '#seriesdropdownlink'); });
</script>
{% endif %}
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-admin d-print-none">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class='navbar-brand'><img src='/static/images/cone.png'/>Scorekeeper Admin</div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        {% if g.superauth %}
        <li class="superauth navbar-text">SuperAuth</li>
        {% endif %}

        <li id="seriesdropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="seriesdropdownlink" data-toggle="dropdown">{{g.series or "Select a Series"}}</a>
          <div class="dropdown-menu">
          {% for s in g.activeseries|sort %}
              <a class="dropdown-item" href="{{url_for(".index", series=s)}}">{{s}}</a>
          {% endfor %}
          </div>
        </li>

        {% if g.series %}

        <li id="eventdropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="eventdropdownlink" data-toggle="dropdown">Events</a>
          <div class="dropdown-menu">
          {%for event in g.events|sort(attribute='date') %}
              <a class="dropdown-item" href='{{url_for('.event', eventid=event.eventid)}}'>{{event.name}}</a>
          {% endfor  %}
          </div>
        </li>

        <li id="settingsdropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="settingsdropdownlink" data-toggle="dropdown">Settings</a>
          <div class="dropdown-menu">
            <a class='dropdown-item' href='{{url_for('.settings')}}'>General</a>
            <a class='dropdown-item' href='{{url_for('.classlist')}}'>Classes</a>
            <a class='dropdown-item' href='{{url_for('.indexlist')}}'>Indexes</a>
            <a class='dropdown-item' href='{{url_for('.accounts')}}'>Payment Accounts</a>
          </div>
        </li>

        <li id="reportsdropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="reportsdropdownlink" data-toggle="dropdown">Reports</a>
          <div class="dropdown-menu">
            <a class='dropdown-item' href='{{url_for('.seriesattend')}}'>Series Attendance</a>
            <a class='dropdown-item' href='{{url_for('.eventattend')}}'>Events Attendance</a>
            <a class='dropdown-item' href='{{url_for('.uniqueattend')}}'>Unique Attendance</a>
            <a class='dropdown-item' href='{{url_for('.numbers')}}'>Used Car Number List</a>
            <div class="dropdown-divider"></div>
            <a class='dropdown-item' href='{{url_for('.payments')}}'>Payments</a>
            <a class='dropdown-item' href='{{url_for('.contactlist')}}'>Contact List</a>
          </div>
        </li>

        <li id="createdropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="createdropdownlink" data-toggle="dropdown">Create</a>
          <div class="dropdown-menu">
            <a class='dropdown-item' href='{{url_for('.createevent')}}'>New Event</a>
            <a class='dropdown-item' href='{{url_for('.newseries')}}'>New Series From Current</a>
          </div>
        </li>

        {% if g.mainserver %}
        <li id="advanceddropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="advanceddropdownlink" data-toggle="dropdown">Advanced</a>
          <div class="dropdown-menu">
            <a class='dropdown-item' href='{{url_for('.drivers')}}'>Driver/Car Editor</a>
            <a class='dropdown-item' href='{{url_for('.purge')}}'>Purge Tool</a>
            <a class='dropdown-item' href='{{url_for('.archive')}}'>Archive Series</a>
          </div>
        </li>
        {% endif %}

        {% endif %}

    </ul>
  </div>
</nav>

<div class='row justify-content-center'>
<div class='col text-center'>
<div>{{ m.errordisplay() }}</div>
</div>
</div>

{% endblock content %}
