{% extends "/admin/abase.html" %}
{% import "/admin/macros.html" as m %}

{% block headers %}
{{super()}}
<script>
$(document).ready(function(){
	$('.deleterow').click(function() { $(this).closest('tr').remove(); return false; });
	$('#classlistform .addbutton').click(function() {
        newCountedRow('#classlistform', '#classlisttemplate');
        return false;
    });
});
</script>
{% endblock headers %}

{% macro dorow(ii, cls=None) %}
<tr data-counter="{{ii}}">
<td title="Required classcode">{{m.textbox(ii, 'classcode', 6, cls)}}</td>
<td title="A user description">{{m.textbox(ii, 'descrip', 50, cls)}}</td>
<td title="Receives trophies at events">{{m.checkbox(ii, 'eventtrophy', cls)}}</td>
<td title="Receives trophies for the series">{{m.checkbox(ii, 'champtrophy', cls)}}</td>
<td title="Cars are individually indexed by index value">{{m.checkbox(ii, 'carindexed', cls)}}</td>
<td class='clsindexcol' title="Entire class is indexed by this index code">
	<select name="clslist-{{ii}}.indexcode">
	{% for code in classdata.indexlist.keys()|sort %}
		<option value="{{code}}" {{cls.indexcode==code and "selected" or ""}}>{{code}}</option>
	{% endfor %}
	</select>
</td>
<td class="multcol" title="This multiplier is applied to entire class, i.e. street tire factor">{{m.textbox(ii, 'classmultiplier', 5, cls)}}</td>
<td class="flagcol" title="Require that the car flag is checked for the additional multiplier to be applied">{{m.checkbox(ii, 'usecarflag', cls)}}</td>
<td title="{{m.restrictformat(classdata, cls)}}">{{m.textbox(ii, 'caridxrestrict', 20, cls)}}</td>
<td class='limitcol' title="Limit number of counted runs for this class">{{m.textbox(ii, 'countedruns', 3, cls)}}</td>
<td><button class="btn btn-outline-success small deleterow">Del</button></td>
<td><input type="hidden" name="clslist-{{ii}}.numorder" value="{{cls.numorder}}" /></td>
<td></td>
</tr>
{% endmacro %}


{% block content %}
{{super()}}

<div class='container-fluid'>
<h2>Class Editor</h2>

<p>
Each class has a short code and a full string description.  The description is optional.  The settings available are:

<table class='doctable'>
<tr><th>Event Trophy</th><td>This class is eligible for trophies at each event and will have a 'T' added in the results</td></tr>
<tr><th>Champ Trophy</th><td>This class is eligible for championship points and will appear in the championship report</td></tr>
<tr><th>Cars Indexed</th><td>Cars in this class will have an index applied based on the index of the car entry</td></tr>
<tr><th>Class Indexed</th><td>All cars in this class will have an index applied based on this specified index code</td></tr>
<tr><th>Addl Multiplier</th><td>All cars in this class will have an additional multipler applied to them, like class indexed but statically assigned to this class.  This is a place for a street tire modifier.</td></tr>
<tr><th>Require Car Flag</th><td>If checked, cars in this class will have their own checkbox for additional tire index and only if that is checked will additional multiplier be applied.</td></tr>
<tr><th>Index Restrict</th><td>This will limit the index selection given to the user based on the <a href='restricthelp' target='_blank'>provided value</a></td></tr>
<tr><th>Counted Runs</th><td>Entries in the class will only count a maximum of X runs towards official results.  If all classes are to have the same number of counted runs, you can also set counted runs for each event.  The minimum of the two is used.</td></tr>
</table>

</p>

<form action="{{url_for(".classlist")}}" method="post" id='classlistform'>
<table class='classtable'>
<tr>
<th>Code</th>
<th>Description</th>
<th>Event<br/>Trophy</th>
<th>Champ<br/>Trophy</th>
<th>Cars<br/>Indexed</th>
<th>Class<br/>Indexed</th>
<th class='multcol'>Addl<br/>Multiplier</th>
<th class='flagcol'>Require<br/>Car Flag</th>
<th>Index<br/>Restrict</th>
<th>Counted<br/>Runs</th>
</tr>

{% for code, cls in classdata.classlist | dictsort %}
{{dorow(loop.index, cls)}}
{% endfor %}


</table>
<button class='btn btn-outline-success addbutton'>Add Row</button>
<input  class='btn btn-success' type='submit' value="Save">
</form>

<table style='display:none' id='classlisttemplate'>
{{dorow('xxxxx')}}
</table>
</div>

{% endblock content %}

