{% extends "admin/bluebase.html" %}
{% import "common/macros.html" as m %}

{% block headers %}
{{super()}}
<style type="text/css">
textarea {
    height: 30rem;
}
ul {
    columns: 5;
    list-style: none;
    white-space: nowrap;
    margin: 0;
}
ul input {
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: middle;
}
</style>
<script>
var emailregex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
var thetable   = null;
var matchtypes = [];
var matchevent = []

function copyemail()
{
    $("#contactmodal textarea").val(extractemail());
    $("#contactmodal").modal('show');
}

function extractemail()
{
    var ret = Array();
    var data = thetable.rows({filter: 'applied'}).data();
    for (var ii= 0; ii < data.length; ii ++) {
        if (data[ii].email.match(emailregex))
            ret.push(data[ii].email);
    }
    return ret;
}

$.fn.dataTable.ext.search.push(
    function (settings, data, dataIndex) {
        if ((matchevent.length == 0) || (matchtype == undefined)) return true;
        switch (matchtype) 
        {
            case "reg":
                for (var ii = 0; ii < matchevent.length; ii++)
                    if (data[4].includes(matchevent[ii]))
                        return true;
                break;
            case "run":
                for (var ii = 0; ii < matchevent.length; ii++)
                    if (data[3].includes(matchevent[ii])) 
                        return true;
                break;
            case "noshow":
                for (var ii = 0; ii < matchevent.length; ii++)
                    if (data[4].includes(matchevent[ii]) && !(data[3].includes(matchevent[ii])))
                        return true;
                break;
        } 
        return false;
    }
);

$(document).ready(function(){
	thetable = $('#contacttable').DataTable({ 
        ajax: { url:"{{url_for(".activitylist")}}", dataSrc: ''},
        lengthMenu: [[15, 30, 50, -1], [15, 30, 50, "All"]],
        iDisplayLength: -1,
        autoWidth: false,
        columns: [
            { data: 'firstname', width: '30%' },
            { data: 'lastname',  width: '30%' },
            { data: 'email',     width: '40%' },
            { data: 'runs',      width: '0%', visible: false },
            { data: 'reg',       width: '0%', visible: false }
        ],
        sDom: '<"dtheader"fi>rt<"clear">'
    });

    $('.dtheader').append("<div class='validwrapper'><button class='btn btn-outline-admin' onclick='copyemail()'>Copy Valid Email</button></div>");

    // mutually exclusive filtertype
    $('ul input[name=filtertype]').change(function () {
        if ($(this).prop('checked')) {
            $('ul input[name=filtertype]').not(this).prop('checked', false);
        }
    });

    $('ul input[type=checkbox]').change(function () {
        matchtype  = $('ul input[name=filtertype]:checked').val();
        matchevent = $('ul input[name=event]:checked').map(function () { return $(this).data('event'); });
        thetable.draw();
    });
});
</script>
{% endblock headers %}

{% block content %}
{{super()}}
<div class='container'>
<h3>Contact List</h3>
<p>The default list is of anyone who has registered or run in the series.  Use the checkboxes to select filters and/or type text into the search box.</p>
<h6>Filter Type</h6>
<ul>
    <li><input type="checkbox" name="filtertype" value="reg"/>Registered In</li>
    <li><input type="checkbox" name="filtertype" value="run"/>Ran In</li>
    <li><input type="checkbox" name="filtertype" value="noshow"/>Registered But Didn't Run</li>
</ul>
<h6>For Events</h6>
<ul>
{% for e in events %}
    <li><input data-event="{{e.eventid}}" name="event" type="checkbox"/>{{e.name}}</li>
{% endfor %}
</ul>
<br/>

<table id='contacttable' class='table-striped table-bordered' cellspacing="0" width="100%">
<thead>
<tr><th>First</th><th>Last</th><th>Email</th></tr>
</thead>
<tbody>
</table>
</div>

{% call m.modal('contactmodal', 'Email List', '', 'modal-lg') %}
<div class='row'>
<textarea class='col'>
</textarea>
</div>
{% endcall %}

{% endblock content %}

