{% extends "admin/bluebase.html" %}
{% import "common/macros.html" as m %}

{% block headers %}
{{super()}}
<style type="text/css">
textarea {
    height: 30rem;
}
.dt-buttons { margin-left: 1rem; }
</style>
<script>
var thetable   = null;
var matchtypes = [];
var matchevent = []
var nobarcode  = false;

$.fn.dataTable.ext.search.push(
    function (settings, data, dataIndex) {
        if (nobarcode && data[3]) {
            return false;
        }

        if ((matchevent.length == 0) || (matchtype == undefined)) return true;
        switch (matchtype) 
        {
            case "reg":
                for (var ii = 0; ii < matchevent.length; ii++)
                    if (data[6].includes(matchevent[ii]))
                        return true;
                break;
            case "run":
                for (var ii = 0; ii < matchevent.length; ii++)
                    if (data[5].includes(matchevent[ii])) 
                        return true;
                break;
            case "noshow":
                for (var ii = 0; ii < matchevent.length; ii++)
                    if (data[6].includes(matchevent[ii]) && !(data[5].includes(matchevent[ii])))
                        return true;
                break;
        } 
        return false;
    }
);



function render_classes(rowdata)
{
    var classes = new Set();

    for (eventid in rowdata.reg)  {
        if ((matchevent.length == 0) || (matchtype == undefined) || ((matchtype == "reg") && (matchevent.get().indexOf(eventid)>=0))) {
            rowdata.reg[eventid].forEach(function (item) {
                classes.add(item);
            });
        }
    }

    for (eventid in rowdata.runs) {
        rowdata.runs[eventid].forEach(function (item) {
            classes.add(item);
        });
    }

    ret = Array.from(classes.values());
    ret.sort();
    return ret;
}


$(document).ready(function(){
	thetable = $('#contacttable').DataTable({ 
        ajax: { url:"{{url_for(".activitylist")}}", dataSrc: ''},
        lengthMenu: [[15, 30, 50, -1], [15, 30, 50, "All"]],
        iDisplayLength: -1,
        autoWidth: false,
        select: {
            style: 'os'
        },
        buttons: [
            {
                extend: 'copyHtml5',
                className: 'btn btn-outline-admin',
                text: 'Copy Valid Email',
                title: '',
                header: false, 
                exportOptions: { 
                    columns: ':visible',
                    rows: function (row, data) {
                        // inefficient, how can we get the selected rows before this process starts?
                        var selected = thetable.rows('.selected')[0];
                        if ((selected.length > 0) && !selected.includes(row)) return false;
                        return (!data.optoutmail && data.email.match(Scorekeeper.emailRegex));
                    },
                    format: { body: function (data, row, column, node) {
                            if (column == 0) { return '"'+data; }
                            if (column == 1) { return data+'"'; }
                            if (column == 2) { return '<'+data+'>'; }
                            return '';
                        }
                    } 
                },
                customize: function (output) {
					var separator = $('input[name="separator"]:checked').val() || ', ';
                    return output.replace(/\t/g, ' ').replace(/\r?\n|\r/g, separator);
                }
            },
            {   
                extend: 'csvHtml5',  
                className: 'btn btn-outline-admin', 
                text: 'Export To CSV', 
                title: 'contactlist', 
                exportOptions: { columns: ':visible'}
            }
        ],
        columns: [
            { data: 'firstname', width: '30%' },
            { data: 'lastname',  width: '30%' },
            { data: 'email',     width: '40%' },
            { data: 'barcode',   width: '0%' },
            { data: null,        width: '0%', render: render_classes },
            { data: 'runs',      width: '0%', visible: false, render: function(data) { return Object.keys(data) }},
            { data: 'reg',       width: '0%', visible: false, render: function(data) { return Object.keys(data) }},
        ],
        sDom: '<"dtheader"fiB>rt<"clear">'
    });

    // mutually exclusive participationtype
    $('ul input[name=participationtype]').change(function () {
        if ($(this).prop('checked')) {
            $('ul input[name=participationtype]').not(this).prop('checked', false);
        }
    });

    $('ul input[type=checkbox]').change(function () {
        matchtype  = $('ul input[name=participationtype]:checked').val();
        matchevent = $('ul input[name=event]:checked').map(function () { return $(this).data('event'); });
        nobarcode  = $('ul input[name=nobarcode]').is(':checked');
        thetable.rows().invalidate('data')
        thetable.draw();
    });

	$('div.dt-buttons').prepend(
		"<div style='font-size: 80%; vertical-align: middle;'> " +
		"Separator<br>" +
		"<input type='radio' name='separator' value=', ' checked><label for=', ' style='margin-bottom:0'>Comma</label><br>" +
		"<input type='radio' name='separator' value='; '><label for='; ' style='margin-bottom:0'>Semicolon</label>" +
		"</div>"
	);
});
</script>
{% endblock headers %}

{% block content %}
{{super()}}
<div class='container'>
<h3>Contact List</h3>
<p>The default list is of anyone who has registered or run in the series.  Use the checkboxes to select filters and/or type text into the search box.</p>

<div class='contactfilters'>
<h6>Participation Filter</h6>
<ul class='filterchecks'>
    <li><input type="checkbox" name="participationtype" value="reg"/>Registered In</li>
    <li><input type="checkbox" name="participationtype" value="run"/>Ran In</li>
    <li><input type="checkbox" name="participationtype" value="noshow"/>Registered But Didn't Run</li>
</ul>
<ul class='eventchecks'>
{% for e in events %}
    <li><input data-event="{{e.eventid}}" name="event" type="checkbox"/>{{e.name}}</li>
{% endfor %}
</ul>

<h6>Status Filters</h6>
    <ul class='filterchecks'>
        <li><input type="checkbox" name="nobarcode" value="reg"/>No Barcode</li>
    </ul>
</div>

<table id='contacttable' class='table-striped table-bordered' cellspacing="0" width="100%">
<thead>
<tr><th>First</th><th>Last</th><th>Email</th><th>Barcode</th><th>Classes</th></tr>
</thead>
<tbody>
</table>
</div>

{% call m.modal('contactmodal', 'Email List', '', 'modal-lg') %}
<div class='row'>
<textarea class='col'>
</textarea>
</div>
{% endcall %}

{% endblock content %}

