{% extends "admin/bluebase.html" %}
{% import 'common/macros.html' as m %}

{% block headers %}
{{super()}}
<script>
{% include 'admin/drivers.js' %}
</script>
<style>
.carseries {
    float: right;
    font-weight: bold;
}
</style>
{% endblock headers %}

{% block content %}
{{super()}}
<div class='container'>
<h3>Driver Editor</h3>
<p class='small'>
{% if g.superauth %}
You are running under SuperAuth and can modify/merge all cars and drivers.  Don't be a dick.
{% else %}
Cars are from {{g.series}} but drivers are shared amongst series. Be a good citizen.  To modify all data <a href='{{url_for('.slogin')}}'>get SuperAuth</a>.
{% endif %}
</p>
<div class='row'>
<div class='col-5'>
<table id='drivertable' class='table-striped table-bordered stripe hover' cellspacing="0" width="100%">
<thead>
<tr><th>First</th><th>Last</th></tr>
</thead>
</table>
</div>

<div class='col-7'>
<div id='editorerror' class='error'></div>
<div id='driverinfo'></div>
</div>

</div>

{{m.modal('profilemodal', 'Profile Editor', driverform.html('profileform', url_for('.edititem'), 'post', 'btn-admin', 'col-md-4', 'col-md-8'))}}
{{m.modal('carmodal',     'Car Editor',     carform.html(   'carform',     url_for('.edititem'), 'post', 'btn-admin'))}}

{% endblock content %}

