{% extends "/admin/abase.html" %}
<%namespace file="/forms/carform.mako" import="carform"/>
<%namespace file="/forms/driverform.mako" import="driverform"/>

{% block headers %}
{{super()}}
<script>

const EDIT  = 1
const DEL   = 2
const MERGE = 3
const DRV = 4
const CAR = 5

function resizescroll() {
	$('.dataTables_scrollBody').css('height', $(window).height() - ($('body').height() - $('.dataTables_scrollBody').height())- 10);
}

function selecteddrivers(tofilter)
{
    return thetable.rows({selected:true}).data().filter(function (x) { return x.driverid != tofilter; }).map(function (x) { return ""+x.driverid; }).join();
}

function baction(atype, atarget, arg, disable)
{
    var text = "?";
    switch (atype) {
        case EDIT:  text = "Edit"; break;
        case DEL:   text = "Delete"; break;
        case MERGE: text = "Merge Into This"; break;
    }

    return $('<button/>').addClass('btn btn-outline-success small').text(text).prop('disabled', disable).click(function() {
        switch (atype) {
            case MERGE:
                var driverids = selecteddrivers(arg);
                alert("Merge " + driverids + " into " + arg);
                break;
                
            case DEL:
                $.ajax({
                    url: "{{url_for('.deleteitem')}}",
                    data: (atarget == DRV) ? {driverid:arg} : {carid:arg},
                    method: 'POST',
                    success: function(data) { thetable.rows('#'+arg).deselect(), $('#'+arg).remove(); },
                    error: function(xhr, stat, error) { alert(xhr.responseText); },
                });
                 
                break;
            case EDIT: 
                if (atarget == DRV)
                    alert("edit driver " + arg);
                else
                    alert("edit car " + arg);
            break;
        }
    });
}

function buildEntrantTable(driver, cars, multiple) {
    var anyact = false;
    for (ii in cars) { if (cars[ii].activity > 0) anyact = true; }

    var table = $('<table/>').addClass('drivertable');
    table.append($('<tr>').append($('<td/>').prop('colspan', 2).addClass('buttons').append(baction(EDIT, DRV, driver.driverid, false), baction(DEL, DRV, driver.driverid, anyact), baction(MERGE, DRV, driver.driverid, !multiple))));
    table.append($('<tr>').append($('<th/>').text('DriverId'),   $('<td/>').text(driver.driverid)));
    table.append($('<tr>').append($('<th/>').text('Name'),       $('<td/>').text("{0} {1}".format(driver.firstname, driver.lastname))));
    table.append($('<tr>').append($('<th/>').text('Email'),      $('<td/>').text(driver.email)));
    table.append($('<tr>').append($('<th/>').text('Membership'), $('<td/>').text(driver.membership)));
    table.append($('<tr>').append($('<th/>').text('Address'),    $('<td/>').text("{0} {1} {2} {3}".format(driver.address, driver.city, driver.state, driver.zip))));
    for (ii in cars) {
        var c = cars[ii];
        table.append($('<tr>').addClass('carrow').append($('<td/>').prop('colspan', 2).prop('id', c.carid)
                   .append(baction(EDIT, CAR, c.carid, false), baction(DEL, CAR, c.carid, c.activity>0), "{0} #{1} {2} {3} {4} {5}".format(c.classcode, c.number, c.year, c.make, c.model, c.color))));
    }
    return table;
}

function rebuildInfoContainer()
{
    driverids = selecteddrivers();
    targetdiv = $('#driverinfo');
    targetdiv.html("")
    if (driverids.length > 0) {
        $.ajax({
            url: "{{url_for('.getitems')}}",
            data:   {driverids:driverids},
            method: 'GET',
            success: function(data) { 
                var count = 0;
                for (driverid in data) { count += 1; }
                for (driverid in data) {
                    driver = thetable.row('#'+driverid).data();
                    targetdiv.append(buildEntrantTable(driver, data[driverid], count>1));
                }
            },
            error: function(xhr, stat, error) { targetdiv.html('<div class="error">'+xhr.responseText+'</div>'); },
            });
    } 
}
 
$(document).ready(function(){
    thetable = $('#drivertable').DataTable({ 
        ajax: { url:"{{url_for(".getdrivers")}}", dataSrc: ''},
        paging: false,
        scrollY: "100",
        select: {
            style: 'os',
        },
        rowId: 'driverid',
        columns: [
            { data: 'firstname' },
            { data: 'lastname' },
        ],
        sDom: '<"dtheader"f>rt<"clear">'
    }).on('select.dt deselect.dt', function () {
        rebuildInfoContainer();
    });

	resizescroll();
	$( window ).resize(function() { resizescroll(); });
});
</script>
{% endblock headers %}

{% block content %}
{{super()}}
<div class='container'>
<h2>Driver Editor</h2>
<p class='small'>With great power comes great responsibility. Cars are from {{g.series}} but drivers are shared amongst series.</p>
<div class='row'>
<div class='col-5'>
<table id='drivertable' class='table-striped table-bordered stripe hover' cellspacing="0" width="100%">
<thead>
<tr><th>First</th><th>Last</th></tr>
</thead>
</table>
</div>

<div id='driverinfo' class='col-7'>
{#{{driverform()}}
{{carform()}} #}
</div>
</div>


{% endblock content %}

