{% extends "admin/bluebase.html" %}

{% block headers %}
{{super()}}
<style>
.count { 
    font-size: 1.0rem; 
    font-weight: bold;
    padding: 0.4rem 0; 
}
.attach {
    text-align: left !important;
}
</style>
<script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
<script>
$(document).ready(function() {
    tinymce.init({ 
        selector:'textarea', 
        height: 400,
        plugins: "textcolor",
        menubar: false,
        statusbar: false,
        toolbar: "fontselect fontsizeselect bold italic underline strikethrough forecolor backcolor alignleft aligncenter alignright alignjustify indent outdent undo redo"
    });
});
</script>
{% endblock headers %}

{% block content %}
{{super()}}
<div class='container'>
<h3>Group Email</h3>

<form action='{{url_for('.emailtool')}}' method='post' enctype="multipart/form-data">
{{form.csrf_token()}}
{{form.token}}
{{form.count}}

<table class='emailheaders'>
<tr>
    <td>List:</td>
    <td class='count'>{{form.count.data}}</td>
</tr>
<tr>
    <td>From:</td>
    <td>Scorekeeper Mailman &lt;{{defaultsender}}&gt;</td>
</tr>
<tr>
    <td>{{form.replyto.label}}:</td>
    <td>{{form.replyto}}</td>
</tr>
<tr>
    <td>{{form.subject.label}}:</td>
    <td>{{form.subject}}</td>
</tr>

<tr><td colspan=2>
    {% if form.body.errors %}
    <div class='error'>Body error: {{form.body.errors[0]}}</div>
    {% endif %}
    <textarea name='body'>{{form.body.data}}</textarea>
</td></tr>
<tr><td colspan=2 class='attach'>{{form.attach1.label}}: {{form.attach1}}</td></tr>
<tr><td colspan=2 class='attach'>{{form.attach2.label}}: {{form.attach2}}</td></tr>
</table>
{{form.submit(class='btn btn-admin send')}}
</form>

</div>
{% endblock content %}
