{% extends "admin/bluebase.html" %}

{% block headers %}
{{super()}}
<style>
.count { 
    font-size: 1.0rem; 
    font-weight: bold;
    padding: 0.4rem 0; 
}
.attach {
    text-align: left !important;
}
</style>
<script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
<script>
$(document).ready(function() {
    tinymce.init({ 
        selector:'textarea', 
        height: 400,
        plugins: "textcolor",
        menubar: false,
        statusbar: false,
        toolbar: "fontselect fontsizeselect bold italic underline strikethrough forecolor backcolor alignleft aligncenter alignright alignjustify indent outdent undo redo"
    });
});
</script>
{% endblock headers %}

{% block content %}
{{super()}}
<div class='container'>
<h3>Group Email</h3>

<form action='{{url_for('.emailtool')}}' method='post'>
<input type='hidden' name='token' value='{{token}}'/></td>
{{form.csrf_token()}}

<table class='emailheaders'>
<tr>
    <td>List:</td>
    <td class='count'>{{count}}</td>
</tr>
<tr>
    <td>From:</td>
    <td>Scorekeeper Mailman {{defaultsender}}</td>
</tr>
<tr>
    <td>Reply To:</td>
    <td><input type='text' name='replyto' value=''/></td>
</tr>
<tr>
    <td>Subject:</td>
    <td><input type='text' name='subject' value=''/></td>
</tr>

<tr><td colspan=2><textarea name='body'></textarea></td></tr>
{% for ii in range(1, 3) %}
<tr>
    <td colspan=2 class='attach'>
        <label for='attach{{ii}}'>Attachment {{ii}}</label>
        <input type="file" name="attach{{ii}}"/>
    </td>
</tr>
{% endfor %}
</table>
<input type='submit' class='btn btn-admin send' value='Send'/>
</form>

</div>
{% endblock content %}

