{% extends "/admin/abase.html" %}

{% block headers %}
{{super()}}
<script>
$(document).ready(function(){
	$("input[name=date]").flatpickr();
    $("input[name=regopened]").flatpickr( { enableTime: true, minuteIncrement: 30 } );
    $("input[name=regclosed]").flatpickr( { enableTime: true, minuteIncrement: 30 } );
});
</script>
{% endblock headers %}

{% block content %}
{{super()}}
<div class='container'>
<h3 class='text-center'>Event Settings</h3>
{{ form.html('eventform', url_for('.eventedit'), 'post', 'btn-success', 'col-md-4', 'col-md-7') | safe }}
</div>
{% endblock content %}

