{% extends "/admin/abase.html" %}

{% block content %}
{{super()}}


<div class='container'>

<h3>{{event.name}} - {{event.date.strftime('%a %b %d, %Y')}}</h3>

<h4>General</h4>
<ul class='list-unstyled'>
<li><a href='{{url_for('.editevent')}}'>Edit Event Details</a></li>
<li><a href='{{url_for('.list')}}'>Entry Admin</a></li>
<li><a href='{{url_for('.rungroups')}}'>Grid Order</a></li>
<li><a href='{{url_for('.deleteevent')}}' onclick='return confirm("Do you really want to delete this event and and its registered entries?");'>Delete Event</a></li>
</ul>

<h4>Timing Cards <small class="text-muted">(<a href='{{url_for('.printhelp')}}' target='_blank'>Printing Help</a>)</small></h4>

<form action='{{url_for('.printcards')}}' method='get'>
 <div class="form-row">
  <div class='form-group col-md-4'>
  <label for="typeselection" class="col-form-label">Data Order</label>
  <select id="typeselection" name="type" class="form-control">
    <option value="lastname">Lastname then Firstname</option>
    <option value="classnumber">Class then Number</option>
    <option value="blank">Blank Cards Only</option>
  </select>
  </div>

  <div class='form-group col-md-4'>
  <label for="pageselection" class="col-form-label">Output Format</label>
  <select id="pageselection" name="page" class="form-control">
    <option value="card">8x5 Index Cards</option>
    <option value="letter">8x11 Letter Paper</option>
    <option value="csv">CSV Data</option>
  </select>
  </div>

  <div class='form-group col-md-2'>
  <label class="col-form-label spaceholder">&nbsp;</label>
  <input class="btn btn-outline-success form-control" type="submit" value="Download"/>
  </div>
 </div>
</form>

<h4>Reports</h4>
<ul class='list-unstyled'>
<li><a href='{{url_for('.numbers')}}' target='_blank'>Used Car Number List</a></li>
<li><a href='{{url_for('.eventpaid')}}' target='_blank'>List of Fess Already Paid</a></li>
<li><a href='{{url_for('.eventcontactlist')}}'>Contact List</a></li>
<li><a href='{{url_for('.eventnewentrants')}}' target='_blank'>Collected Fee List</a></li>
</ul>

</div>

{% endblock content %}

