{% extends "/admin/abase.html" %}
{% import "/admin/macros.html" as m %}

{% block headers %}
{{super()}}
<script>
$(document).ready(function(){
	$('.deleterow').click(function() { $(this).closest('tr').remove(); return false; });
	$('#indexlistform .addbutton').click(function() {
        newCountedRow('#indexlistform', '#indexlisttemplate');
        return false;
    });
});
</script>
{% endblock headers %}

{% macro dorow(ii, field) %}
<tr data-counter="{{ii}}">
<td>{{field['indexcode']}}</td>
<td>{{field['descrip']}}</td>
<td>{{field['value']}}</td>
<td><button class="btn btn-outline-success small deleterow">Del</button></td>
</tr>
{% endmacro %}

{% block content %}
{{super()}}
<div class='container'>
<h2>Index Editor</h2>

<form action="{{url_for('.indexlist')}}" method="post" id='indexlistform'>
<table class='indextable'>
<tr><th>Code</th><th>Description</th><th>Value</th></tr>
{% for field in form.indexlist %}
{{dorow(loop.index0, field)}}
{% endfor %}
</table>

<button class='btn btn-outline-success addbutton'>Add Row</button>
<span class="dropdown">
  <button class="btn btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Generate From
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item">2017 PAX/RTP</a>
    <a class="dropdown-item">2016 PAX/RTP</a>
  </div>
</span>
{{form.csrf_token()}}
<input  class='btn btn-success' type='submit' value="Save">
</form>
</div>

{% endblock content %}

