{% extends "admin/bluebase.html" %}
{% import "admin/macros.html" as m %}

{% block headers %}
{{super()}}
<script>
$(document).ready(function(){
	$('.deleterow').click(function() { $(this).closest('tr').remove(); return false; });
	$('#indexlistform .addbutton').click(function() {
        Scorekeeper.newCountedRow('#indexlistform', '#indexlisttemplate');
        return false;
    });
    $('input[type=text]').change(function() { $(this).css('background', 'yellow'); });
});
</script>
<style>
#indexlisttemplate { display: none; }
</style>
{% endblock headers %}

{% macro dorow(ii, field) %}
<tr data-counter="{{ii}}">
<td>{{field['indexcode']}}</td>
<td>{{field['descrip']}}</td>
<td>{{field['value']}}</td>
<td><button class="btn btn-outline-admin small deleterow">Del</button></td>
</tr>
{% endmacro %}


{% macro controlrow() %}
<button class='btn btn-outline-admin addbutton'>Add Row</button>
<input  class='btn btn-admin' type='submit' value="Save">
<span class="dropdown">
  <button class="btn btn-admin dropdown-toggle" type="button" data-toggle="dropdown">
    Reset To Pax/RTP
  </button>
  <div class="dropdown-menu">
    {% for l in lists %}
    <a class="dropdown-item" href="{{url_for('.indexreset', index=l)}}" onclick="return confirm(
        'This will overwrite all current index values, additional fill indexes of 1.234 will be created for cars with indexes not in the selected list, is this okay?'
    )">{{l.replace('_', ' ')}}</a>
    {% endfor %}
  </div>
</span>
{% endmacro %}


{% block content %}
{{super()}}
<div class='container'>
<h3>Index Editor</h3>

<form action="{{url_for('.indexlist')}}" method="post" id='indexlistform'>

{{ controlrow() }}

<table class='indextable mt-2'>
<tr><th>Code</th><th>Description</th><th>Value</th></tr>
{% for field in form.indexlist %}
{{dorow(loop.index0, field)}}
{% endfor %}
</table>
{{form.csrf_token()}}

{{ controlrow() }}

</form>
</div>

<table id='indexlisttemplate'>
    {{dorow(0, empty.indexlist[0]) }}
</table>


{% endblock content %}

