{% extends "admin/bluebase.html" %}
{% block content %}
{{super()}}
<div class='container'>
<h3>Square Setup Completion</h3>

<p>
Select the location with the items that you wish to use for online payments.
</p>

<form id='locationform' action='{{url_for('.accounts')}}' method='post'>

<div class='row'>
<div class='col mw3'>
<select name='locationid' class='form-control'>
{% for loc in locations.values() -%}
<option value="{{loc.id}}">{{loc.name}}</option>
{% endfor -%}
</select>
</div>
</div>

<div class='row'>
<div class='col mw3'>
<input type='hidden' name='tdata' value='{{tdata}}'/>
<input type='hidden' name='ldata' value='{{ldata}}'/>
<input type='submit' name='submit' value='Select Location' class='btn btn-admin'>
</div>
</div>

</form>


{% endblock content %}

