{% extends "admin/bluebase.html" %}
{% block headers %}
{{super()}}
<style type="text/css">
.col-md-5 { padding: 1rem 0 0.5rem 0; }
label { visibility: hidden; }
</style>
{% endblock headers %}

{% block content %}
{{super()}}
<div class='container'>
<div class='row'>
<div class='col-md-1'></div>
<div class='col-md-5'>Enter the password for {{series}}</div>
</div>
{{ form.html('seriespasswordform', url_for(base), 'post', 'btn-admin', 'col-md-1', 'col-md-4') | safe }}
</div>
{% endblock content %}
