{% macro restrictformat(classdata, classcode) %}
    Registration = {{classdata.restrictedRegistrationIndexes(classcode)|sort|join(', ')}}
    Multiplier = {{classdata.restrictedClassMultiplierIndexes(classcode)|sort|join(', ')}}
{% endmacro %}

{% macro textbox(index, name, size, obj) %}
 <input type="text" name="clslist-{{index}}.{{name}}" value="{{obj[name]}}" size="{{size}}" />
{% endmacro %}

{% macro checkbox(index, name, obj) %}
 <input type="checkbox" name="clslist-{{index}}.{{name}}" {{obj[name] and 'checked' or ''}} />
{% endmacro %}

