{% extends "admin/bluebase.html" %}
{% block headers %}
{{super()}}
<style type="text/css">
ul { list-style: none; }
li > ul { columns: 4; }
</style>
{% endblock headers %}
{% block content %}
{{ super() }}
<div class='container-fluid'>
<h3>Used Number List</h3>
<ul>
{% for code,subdict in numbers|dictsort %}
	<li>{{code}}<ul>
    {% for num,names in subdict|dictsort %}
        <li>{{num}}: {{names|join(', ')}}</li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</div>
{% endblock content %}

