{% extends "admin/bluebase.html" %}
{% block headers %}
{{super()}}
<style>
p.alert-danger {
    color: #cc1122;
    xmargin: 1rem;
}
div.alert-danger {
    margin-bottom: 1rem;
}
.container {
    max-width: 40rem;
}
</style>
{% endblock headers %}

{% block content %}
{{super()}}
<div class='container'>
<h3 class='text-center'>Password Change</h3>
<div class='row alert-danger'>
<div class='xcol'>
<p class='alert-danger'>This will change the local password for <b>{{g.series}}</b>. &nbsp; Anyone wanting to sync with <b>{{g.series}}</b> in this database much also change their series password to match.</p>
</div>
</div>
{{ form.html('passwordform', url_for('.password'), 'post', 'btn-admin', 'col-md-4', 'col-md-7') | safe }}
</div>
{% endblock content %}
