{% extends "admin/bluebase.html" %}
{% import "common/macros.html" as m %}

{% block headers %}
{{super()}}
<style>
.dt-buttons { margin-left: 1rem; }
</style>

<script>
var thetable   = null;

$(document).ready(function(){
	thetable = $('#paymenttable').DataTable({ 
        ajax: { url:"{{url_for(".paymentlist")}}", dataSrc: ''},
        lengthMenu: [[15, 30, 50, -1], [15, 30, 50, "All"]],
        iDisplayLength: -1,
        autoWidth: false,
        buttons: [
            { extend: 'excelHtml5',className: 'btn btn-outline-admin', text: 'Export To Excel', title: 'payments', exportOptions: { columns: ':visible' } },
            { extend: 'csvHtml5',  className: 'btn btn-outline-admin', text: 'Export To CSV', title: 'payments', exportOptions: { columns: ':visible'} }
        ],
        columns: [
            { data: 'firstname' },
            { data: 'lastname' },
            { data: 'email' },
            { data: 'name' },
            { data: 'date'  },
            { data: 'txtype',   defaultContent: '' },
            { data: 'refid',    defaultContent: '' },
            { data: 'txid',     defaultContent: '' },
            { data: 'txtime',   defaultContent: '' },
            { data: 'itemname', defaultContent: ''},
            { data: 'amount',   defaultContent: '', render: $.fn.dataTable.render.number( ',', '.', 2, '$' ) }
        ],
        sDom: '<"dtheader"fi B>rt<"clear">'
    });
});
</script>
{% endblock headers %}

{% block content %}
{{super()}}
<div class='container-fluid'>
<h3>Payments</h3>
<table id='paymenttable' class='table-striped table-bordered' cellspacing="0" width="100%">
<thead>
<tr>
    <th>First</th>
    <th>Last</th>
    <th>Email</th>
    <th>Event Name</th>
    <th>Event Date</th>
    <th>Tx Type</th>
    <th>Ref Id</th>
    <th>Tx Id</th>
    <th>Tx Time</th>
    <th>Item</th>
    <th>Amount</th>
</tr>
</thead>
<tbody>
</tbody>
</table>
</div>


{% endblock content %}

