{% extends "admin/bluebase.html" %}
{% import "common/macros.html" as m %}
{% block headers %}
{{super()}}
<script>
$(document).ready(function(){
    $('#accounttable tbody').on('click', 'button', function() {
        var row = $(this).closest('tr');
        $.post('{{url_for('.delaccount')}}', {accountid: $(this).data('accountid')}, function ( response ) {
            row.remove();
        }).fail(function(xhr, textStatus, errorThrown) {
            alert(xhr.responseText);
        });
    });
});
</script>
{% endblock headers %}

{% block content %}
{{super()}}
<div class='container'>
<h2>Configured Account List</h2>

<table id='accounttable' class='accounttable table-striped'>
<tr><th>Name</th><th>Id</th><th>Type</th><th></th><th></th></tr>
{% for a in accounts %}
<tr>
    <td>{{a.name}}</td>
    <td>{{a.accountid}}</td>
    <td>{{a.type}}</td>
    <td>
    {% if a.attr['items'] is mapping %}
    <table style='width: 100%'>
    {% for item in a.attr['items'].values() %}
        <tr><td>{{ item.name }}</td><td>{{ "${0:.2f}".format(item.price/100) }}</td></tr>
    {% endfor %}
    </table>
    {% endif %}
    </td>
    <td><button class="btn btn-admin small" data-accountid='{{a.accountid}}'>Del</button></td>
</tr>
{% endfor %}
</table>

<button class='btn btn-admin' {{ not squareurl and "disabled" or "" }} onclick="location.href='{{squareurl}}'">(Re)Setup A Square Location</button>
</div>

{% endblock content %}

