{% extends "common/base.html" %}
{% block content%}

<P>General printing setup for blank 5x8 index cards (office depot, staples, etc).  At least what has worked for me.</P>

<P>Very first time (Windows 10):</P>
<ul>
<li>Go to Control Panel\Hardware and Sound\Devices and Printers
<li>Select the printer you will be using
<li>Click "Print Server Properties" in the ribbon bar below the menu bar
<li>Click on the Forms tab
<li>Create a custom paper source of size 8" width x 5" length
<li>Name it indexcard or what ever you like
</ul>

<P>Print cards</P>
<ul>
<li>Get the HTML file of cards (pick the ordering you want)
<li>The page may look spaced out in a browser but it should fit properly on an 5x8 card as seen in the printing preview
<li>In the printing preferences/print preview dialog, make sure the paper size you just created is selected
<li>Print
</ul>

<P>
Note that you want to feed in index cards in width wise.  I would test print just one page (one card) to start with to see if things work correctly.
</P>
{% endblock content %}

