{% extends "admin/bluebase.html" %}

{% block headers %}
{{super()}}
<script>
$(document).ready(function(){
    function followppcheck(checked) { $("#pospointlist").parent().toggle(checked); }
	$("input[name=usepospoints]").click(function() { followppcheck(this.checked); });
	followppcheck($("input[name=usepospoints]").is(':checked'))

    function followwmcheck(checked) { $("#weekendmin, #weekendmax").parent().toggle(checked); }
	$("input[name=doweekendmembers]").click(function() { followwmcheck(this.checked); });
	followwmcheck($("input[name=doweekendmembers]").is(':checked'))
});
</script>
{% endblock headers %}

{% block content %}
{{super()}}
<div class='container'>
<div class='container'>
<h3 class='text-center'>General Settings For {{g.series}}</h3>
{{ form.html('settingsform', url_for('.settings'), 'post', 'btn-admin', 'col-md-4', 'col-md-7') | safe }}
</div>
</div>
{% endblock content %}

