{% extends "admin/bluebase.html" %}
{% import "common/macros.html" as m %}

{% block headers %}
{{super()}}
<style>
    #weekendtable { font-size: 0.9rem; }
    .dt-buttons { margin-left: 1rem; }
</style>
<script>
var thetable   = null;
var matchevent = []

$.fn.dataTable.ext.search.push(
    function (settings, data, dataIndex) {
        if (matchevent.length == 0) return true;
        from = new Date(data[11]);
        to   = new Date(data[12]);

        for (var ii = 0; ii < matchevent.length; ii++) {
            if ((from >= matchevent[ii].start) && (from <= matchevent[ii].end)) // From inclusive
                return true;
            if ((to   >= matchevent[ii].start) && (to   <= matchevent[ii].end)) // To inclusive
                return true;
            if ((from <= matchevent[ii].start) && (to   >= matchevent[ii].end)) // From before, To after
                return true; 
        }
        return false;
    }
);

$(document).ready(function(){
	thetable = $('#weekendtable').DataTable({ 
        ajax: { url:"{{url_for(".weekendlist")}}", dataSrc: ''},
        iDisplayLength: -1,
        autoWidth: false,
        buttons: [
            { extend: 'excelHtml5', className: 'btn btn-outline-admin', text: 'Export To Excel', title: 'Weekend Member Report', },
            { extend: 'csvHtml5',   className: 'btn btn-outline-admin', text: 'Export To CSV',   title: 'Weekend Member Report', }
        ],

        columns: [
            { data: 'membership' },
            { render: function (data, type, row) { return row['firstname'] + ' ' + row['lastname']; } },
            { data: 'address', defaultContent: '' },
            { data: 'city',    defaultContent: '' },
            { data: 'state',   defaultContent: '' },
            { data: 'zip',     defaultContent: '' },
            { data: 'country', defaultContent: 'US' },
            { data: 'phone',   defaultContent: '' },
            { data: 'email' },
            { data: 'region',  defaultContent: 'missing' },
            { data: 'area',    defaultContent: 'autocross' },
            { data: 'startdate' },
            { data: 'enddate' },
            { data: 'issuer' },
            { data: 'issuermem' }
        ],

        sDom: '<"dtheader"fiB>rt<"clear">'
    });

    $('ul input[type=checkbox]').change(function () {
        matchevent = $('ul input[name=weekend]:checked').map(function () {
            d = $(this).data();
            return { start: new Date(d['start']), end: new Date(d['end']) }
        });
        thetable.draw();
    });
});
</script>
{% endblock headers %}

{% block content %}
{{super()}}
<div class='container-fluid'>
<h3>Weekend Report</h3>

<h6>Filter For Weekends</h6>
<ul class='eventchecks'>
{% for w in weekends|sort %}
    <li><input data-start="{{w[0]}}" data-end="{{w[1]}}" name="weekend" type="checkbox"/>{{w[0].strftime("%b %d")}}, {{w[1].strftime("%d")}}</li>
{% endfor %}
</ul>
<br/>

<table id='weekendtable' class='table-striped table-bordered' cellspacing="0" width="100%">
<thead>
<tr>
<th>Form Number</th>
<th>Name</th>
<th>Address</th>
<th>City</th>
<th>State</th>
<th>Zip</th>
<th>Country</th>
<th>Phone Number</th>
<th>E-Mail</th>
<th>Region</th>
<th>Area of Interest</th>
<th>From</th>
<th>To</th>
<th>Name</th>
<th>Member Number</th>
</tr>
</thead>
<tbody>
</table>
</div>

{% endblock content %}

