{% extends "common/base.html" %}
{% import 'common/macros.html' as m %}

{% block headers %}
{%- assets "register.css" %}
<link rel="stylesheet" href="{{ASSET_URL}}" /> 
{%- endassets -%}
{% assets "vendor.js", "register.js" %}
<script type="text/javascript" src="{{ASSET_URL}}"></script>
{% endassets %}
<style>
#rulesmodal .modal-body a { text-decoration: underline; }
#rulesmodal .modal-body input { margin-top: 1rem; }
</style>

<script type="text/javascript">
$(document).ready(function(){
{% if not g.series and not surpressmenu %}
Scorekeeper.shownavmenu('#navbarNav', '#seriesdropdownlink');
{% endif %} 

$('#rulesmodal .modal-body a').click(function(event) {
    $('#rulesmodal .modal-body input[type=submit]').prop('disabled', false);
});

});
</script>
{% endblock %}


{% block content %}
<nav class="navbar navbar-expand-sm navbar-dark bg-register">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {{ m.navbarbrand('Scorekeeper Reg') }}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li id="seriesdropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="seriesdropdownlink" data-toggle="dropdown">{{g.series or "Select a Series"}}</a>
          <div class="dropdown-menu">
          {% for s in g.activeseries|sort %}
              <a class="dropdown-item" href="{{url_for(g.selection, series=s)}}">{{s}}</a>
          {% endfor %}
          </div>
        </li>
        {% if g.series  %}
        <li class="nav-item {{'active' if g.selection.endswith('profile')}}"><a class="nav-link" href="{{url_for(".profile")}}">Profile</a></li>
        <li class="nav-item {{'active' if g.selection.endswith('cars')}}"><a class="nav-link" href="{{url_for(".cars")}}">Cars</a></li>
        <li class="nav-item {{'active' if g.selection.endswith('events')}}"><a class="nav-link" href="{{url_for(".events")}}">Events</a></li>
        <li class="nav-item {{'active' if g.selection.endswith('help')}}"><a class="nav-link" href="{{url_for(".help")}}">Help</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{{url_for(".logout")}}">Logout</a></li>
    </ul>
  </div>
</nav>


{% if g.settings and g.settings.requestbarcodes and g.driver and not g.driver.barcode %}
<div class='row'><div class='col topwarning'>
No barcode value in profile - <a href='#' data-toggle='modal' data-target='#barcodemodal'>click for help</a>
</div></div>
{% call m.modal('barcodemodal', 'Barcode Information', '') %}
<p>The {{g.series}} admin requests that you have a barcode set in your profile.  This is most likely the same as your SCCA number, but not necessarily.</p>
<p>If you already have a barcode on your helmet or vehicle, please go to the <a href='{{url_for(".profile")}}'>profile</a> page, edit profile, and enter the barcode value there.</p>
<p>If you do not have a barcode yet, one will be provided if necessary at the event and you can ignore this message.</p>
{% endcall %}
{% endif %}


{% if g.settings and g.settings.requestrulesack and g.driver and not g.driver.seriesattr.rulesack %}
<div class='row'><div class='col topwarning'>
Series rules have not be acknowledged yet - <a href='#' data-toggle='modal' data-target='#rulesmodal'>click for help</a>
</div></div>
{% call m.modal('rulesmodal', 'Series Rules and Regulations', '') %}
<div class='row'><div class='col'>
The {{g.series}} admin requests you have read and accepted the <a href='{{g.settings.seriesruleslink}}' target='helptab'>rules and regulations for the series</a>.
</div></div>

<div class='row text-center'><div class='col'>
<form action='{{url_for(".rulesaccept")}}' method='POST'>
<input type='hidden' name='returnto' value='{{url_for(g.selection)}}'></input>
<input type='submit' class='btn btn-register' disabled='1' name='accept' value='I have read and accept the rules'></input>
</form>
</div></div>
{% endcall %}
{% endif %}


<div class='row'>{{ m.flashdisplay('col') }}</div>

</div>

{% endblock content %}
