{% extends "register/bluebase.html" %}
{% import 'common/macros.html' as m %}
{% import 'register/macros.html' as rm %}

{% block headers %}
{{super()}}
<script type="text/javascript">
$(document).ready(function() {
    $('#carmodal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        $('#carform').CarEdit('initform', gCars[button.data('carid')] || {});
        if (button.hasClass('deletecar')) {
            $('#carform input[type=text], #carform input[type=number], #carform select').prop('disabled', true);
            $('#carform [type=submit]').val('Delete');
        } else if (button.hasClass('editcar')) {
            $('#carform input[type=text], #carform input[type=number], #carform select').prop('disabled', false);
            $('#carform [type=submit]').val('Update');
        } else {
            $('#carform input[type=text], #carform input[type=number], #carform select').prop('disabled', false);
            $('#carform [type=submit]').val('Create');
        }
    });
});
{% set cda = g.classdata.getJSONArrays() %}
var gClasses = {{cda[0]|safe}};
var gIndexes = {{cda[1]|safe}};

var gCars = Array();
{% for c in cars.values()|msort('classcode', 'number') %}
gCars['{{c.carid}}'] = {{c|to_json|safe}};
{%- endfor %}
</script>
{% endblock headers %}


{% block content %}
{{super()}}

<div id='carscontainer'>

<table>
<tr><td colspan=3 class='title'>My Cars in {{g.seriesname}}</td></tr>
{% if classinglink %}
<tr><td colspan=3 class='text-center p-0'><a href="{{classinglink}}" target="helptab"><span class='fa fa-external-link'></span>Classing Help</a></td></tr>
{% endif %}
{% for car in cars.values()|msort("classcode","number") %}
    <tr><td>
    <div class="btn-group" role="group">
    {% if active[car.carid]|length > 0 %}
        <button class='btn btn-outline-secondary disabled fa fa-pencil' title='Cars registered or in use cannot be edited or deleted'></button>
        <button class='btn btn-outline-secondary disabled fa fa-trash' title='Cars registered or in use cannot be edited or deleted'></button>
    {% else %}
        <button class='editcar   btn btn-outline-register fa fa-pencil' title='Edit Car' data-carid='{{car.carid}}' data-toggle='modal' data-target='#carmodal'></button>
        <button class='deletecar btn btn-outline-register fa fa-trash' title='Delete Car' data-carid='{{car.carid}}' data-toggle='modal' data-target='#carmodal'></button>
    {% endif %}
    </td>
    <td class='cardisplay'>{{rm.carDisplay(car)}}</td></tr>
{% endfor %}
<tr><td colspan=3 class='button'><button class='newcar btn btn-outline-register' title='Create Car' data-toggle='modal' data-target='#carmodal'>Create New Entry</button></td></tr>
</table>

</div> {# container #}

{{m.modal('carmodal', 'Car Editor', carform.html('carform', url_for('.carspost'), 'post', 'btn-register', 'col-md-3', 'col-md-9'))}}

{% endblock content %}
