{% extends "register/bluebase.html" %}
{% import 'common/macros.html' as m %}
{% import 'register/macros.html' as rm %}

{% block headers %}
{{super()}}
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script type="text/javascript">

function paymentSubmit(ppresolve, ppreject)
{
    // Use .then() and wait as paypal wants this function to return the payment id
    $('#paymentform .error').text("");
    return $.ajax({
        dataType: 'json',
        url:      '{{url_for('.payment')}}',
        data:     $('#paymentform').serialize(),
        method:   'POST'}).then(function(data, txtstatus, xhr) {
            if (data.paymentID) {
                return data.paymentID; 
            } else if (data.redirect) {
                window.location.href = data.redirect;
            } else {
                $('#paymentform .error').text(data.error ? data.error : "An error occured");
            }
        }).fail(function(xhr, status, error) { 
            $('#paymentform .error').text("Server returned code " + xhr.status);
            if (typeof ppreject == "function") {
                ppreject(xhr.status);
            }
        });
}


function paypalAuthorize(data, actions)
{
    return paypal.request.post('{{url_for('.paypalexecute')}}', {
            paymentID: data.paymentID,
            payerID: data.payerID
        }).then(function (data) { 
            if (data.redirect)  {
                window.location.href = data.redirect;
            } else {
                window.alert('something failed, how did I get here?');
            }
        });
}


$(document).ready(function() { 
    $('[id^=eventtog]').each(function (ii, val) {
        add_collapse_icons('#'+this.id); 
    });

    $('#paymentmodal').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget) // Button that triggered the modal
        initpaymentform('#paymentform', button.data('eventid'));
    });

    $('#registermodal').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget) // Button that triggered the modal
        initregform('#registerform', button.data('eventid'), button.data('limit'), button.data('msg'))
    });

    $('#registerform input[type=submit]').click(function (e) {
        e.preventDefault();
        eventRelativeSubmit($('#registerform'));
    });

    $('#sqcheckoutbutton').click(function(e) {
        e.preventDefault();
        paymentSubmit();
    });

    paypal.Button.render({
        env:         'sandbox',
        commit:      true,
        style:       { label: 'checkout', size:  'medium', shape: 'pill', color: 'blue' },
        payment:     paymentSubmit,
        onAuthorize: paypalAuthorize,
        }, '#paypal-button-container'
    );
});

var gRegistered = Array();
var gAccounts = Array();
{% for ev in events -%}
{% if accounts[ev.eventid] -%}
gAccounts["{{ev.eventid}}"] = { id: "{{accounts[ev.eventid].accountid}}", type: "{{accounts[ev.eventid].type}}" };
{% endif -%}
{% endfor -%}
var gItems = {{pitems|to_json|safe}};
</script>

{% endblock headers %}


{% block content %}
{{super()}}

<div id='eventsouter'>
<div id='eventscontainer' class='container'>
    <div class='title'>Events in {{g.seriesname}}</div>
{% for ev in events %}
    {% set eclass = ev.isOpen() and "eventopen show" or "eventclosed" %}
    <div class='eventheader {{eclass}} row justify-content-start'>
        <a data-toggle='collapse' href='#eventtog{{ev.eventid}}'>
        <span class='fa'></span>
        <span class='eventdate'>{{ev.date.strftime('%a %b %d')}}</span>
        <span class='eventname'>{{ev.name}}</span>
        </a>
    </div>

    <div id='eventtog{{ev.eventid}}' data-eventid='{{ev.eventid}}' class='eventholder {{eclass}} collapse row'>
    {{rm.eventdisplay(ev, cars, registered[ev.eventid], showpay[ev.eventid])}}
    </div>

{% endfor %}
</div>
</div>

{% call m.modal('registermodal', 'Register Cars', '') %}
    <form id='registerform' action='{{url_for(".eventspost")}}' method='POST'>
        <input type='hidden' name='eventid' value=''/>
        <div class='row'>
        <div class='col-2'></div>
        <div class='col-10'><a href='cars'><span class='fa fa-car'></span>Create,Edit and Delete Cars Here</a></div>
        </div>
        {% for c in cars.values() %}
        <div class='row align-items-center'>
        <input class="col-2" name="{{c.carid}}" id="{{c.carid}}" type="checkbox" value="y"/>
        <label class="col-10" for="{{c.carid}}">{{rm.carDisplay(c)}}</label>
        </div>
        {% endfor %}
        <div class='row mt-2'>
        <div class='col text-center'><span class='statuslabel error'></span></div>
        </div>
        <div class='row'>
        <div class='col'><input id='regupdatebutton' type='submit' class='btn btn-register' value='Update'/></div>
        </div>
    </form>
{% endcall %}


{% call m.modal('paymentmodal', 'Payment Selection', '') %}
    <form id='paymentform' action='{{url_for(".payment")}}' method='POST'>
        <input type='hidden' name='eventid' value=''/>
        {% for c in cars.values() %}
        <div class='row align-items-center' id='payrow-{{c.carid}}'>
        <div class="col">{{rm.carDisplay(c)}}</div>
        <div class="col">
            <select name='{{"pay-{}".format(c.carid)}}'>
            </select>
        </div>
        </div>
        {% endfor %}
        <div class='row mt-2 paypal-row'>
            <div class='col text-center' id='paypal-button-container'></div>
        </div>
        <div class='row mt-2 square-row'>
            <div class='col'><input id='sqcheckoutbutton' type='submit' class='btn btn-register' value='Square Checkout'/></div>
        </div>
        <div class='col text-center'><span class='statuslabel error'></span></div>
        </div>
    </form>
{% endcall %}

{% endblock content %}

