{% extends "register/bluebase.html" %}
{% import 'common/macros.html' as m %}
{% import 'register/macros.html' as rm %}

{% block headers %}
{{super()}}
{% if not g.isonsite %}
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="https://js.squareupsandbox.com/v2/paymentform"></script>
{% endif %}
<script type="text/javascript">

function orderSubmit(ppresolve, ppreject)
{
    // Use .then() and wait as paypal wants this function to return the payment id
    $('#orderform .error').text("");
    return $.ajax({
        dataType: 'json',
        url:      '{{url_for('.order')}}',
        data:     $('#orderform').serialize(),
        method:   'POST'}).then(function(data, txtstatus, xhr) {
            if (data.paymentID) {
                return data.paymentID; 
            } else if (data.refid) {
                //alert(data.refid);
                $('#ordermodal').modal('hide');
                $('#squaremodal').modal('show');
                //window.location.href = data.redirect;
            } else {
                $('#orderform .error').text(data.error ? data.error : "An error occured");
            }
        }).fail(function(xhr, status, error) { 
            $('#orderform .error').text("Server returned code " + xhr.status);
            if (typeof ppreject == "function") {
                ppreject(xhr.status);
            }
        });
}


function paypalAuthorize(data, actions)
{
    return paypal.request.post('{{url_for('.paypalexecute')}}', {
            paymentID: data.paymentID,
            payerID: data.payerID
        }).then(function (data) { 
            if (data.redirect)  {
                window.location.href = data.redirect;
            } else {
                window.alert('something failed, how did I get here?');
            }
        });
}

$(document).ready(function() { 
    $('[id^=eventtog]').each(function (ii, val) {
        Scorekeeper.add_collapse_icons('#'+this.id); 
    });

    $('#ordermodal').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget) // Button that triggered the modal
        initpaymentform('#orderform', button.data('eventid'), button.data('sessions'));
    });

    $('#squaremodal').on('shown.bs.modal', function (e) {
        paymentForm = create_square_form();
        paymentForm.build();
    });

    $('#squaremodal').on('hide.bs.modal', function (e) {
        paymentForm.destroy();
    });

    $('#registermodal').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget) // Button that triggered the modal
        initregform('#registerform', button.data('eventid'), button.data('limit'), button.data('msg'))
    });

    $('#registermodalsession').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget) // Button that triggered the modal
        var cars = [
            {% for c in cars.values() -%}
                {carid:'{{c.carid}}', desc:'#{{c.number}} - {{c.attr.year}} {{c.attr.make}} {{c.attr.model}} {{c.attr.color}}'},
            {% endfor -%}
        ]
        initsessform('#registerformsession', button.data('eventid'), button.data('limit'), button.data('msg'), button.data('sessions'), cars)
    });

    $('#registerform input[type=submit]').click(function (e) {
        e.preventDefault();
        eventRelativeSubmit($('#registerform'));
    });

    $('#registerformsession input[type=submit]').click(function (e) {
        e.preventDefault();
        eventRelativeSubmit($('#registerformsession'));
    });

    $('#sqcheckoutbutton').click(function(e) {
        e.preventDefault();
        orderSubmit();
    });

    paypal.Button.render({
        env:         'production',
        commit:      true,
        style:       { label: 'checkout', size:  'medium', shape: 'pill', color: 'blue' },
        payment:     orderSubmit,
        onAuthorize: paypalAuthorize,
        }, '#paypal-button-container'
    );
});

    // Create and initialize a payment form object
function create_square_form() 
{
    return new SqPaymentForm({
        applicationId: "{{config.SQ_APPLICATION_ID}}",
        autoBuild: false,
        callbacks: {
            cardNonceResponseReceived: function (errors, nonce, cardData) {
                if (errors) {
                    errors.forEach(function (error) {
                        alert(error.message);
                    });
                    return;
                }
                $('#square-nonce').val(nonce);
                paymentSubmit();
            },
        },
        card: { elementId: 'sq-card' },
    });
}

function onGetCardNonce(event) 
{
    event.preventDefault();
    paymentForm.requestCardNonce();
}

var gRegistered = Array();
var gAccounts = Array();
var gItems = {{pitems|to_json|safe}};

{% for ev in events -%}
{% if accounts[ev.eventid] -%}
gAccounts["{{ev.eventid}}"] = { id: "{{accounts[ev.eventid].accountid}}", type: "{{accounts[ev.eventid].type}}" };
{% endif -%}
{% endfor %}
</script>

{% endblock headers %}


{% block content %}
{{super()}}

<div id='eventsouter'>
<div id='eventscontainer' class='container'>
    <div class='title'>Events in {{g.settings.seriesname}}</div>
{% for ev in events %}
    {% set eclass = ev.isOpen() and "eventopen show" or "eventclosed" %}
    <div class='eventheader {{eclass}} row justify-content-start'>
        <a data-toggle='collapse' href='#eventtog{{ev.eventid}}'>
        <span class='far {{ev.isOpen() and "fa-minus-square" or "fa-plus-square"}}'></span>
        <span class='eventdate'>{{ev.date.strftime('%a %b %d')}}</span>
        <span class='eventname'>{{ev.name}}</span>
        </a>
    </div>

    <div id='eventtog{{ev.eventid}}' data-eventid='{{ev.eventid}}' class='eventholder {{eclass}} collapse row'>
    {{rm.eventdisplay(ev, cars, registered[ev.eventid], showpay[ev.eventid])}}
    </div>

{% endfor %}
</div>
</div>

{% call m.modal('registermodal', 'Register Cars', '') %}
    <div class='row'>
        <div class='col-2'></div>
        <div class='col-10'><a href='cars'><span class='fa fa-car'></span>Create,Edit and Delete Cars Here</a></div>
    </div>
    <div class='row nocarhelp'><div class='col'>You have no cars to register, you can create one at the link above</div></div>

    <form id='registerform' action='{{url_for(".eventspost")}}' method='POST'>
        <input type='hidden' name='eventid' value=''/>
            {% for c in cars.values() %}
        {% if c.classcode[0] != '_' %}
        <div class='row align-items-center'>
        <input class="col-2" name="{{c.carid}}" id="{{c.carid}}" type="checkbox" value="y"/>
        <label class="col-10" for="{{c.carid}}">{{rm.carDisplay(c)}}</label>
        </div>
        {% endif %}
        {% endfor %}
        <div class='row mt-2'>
        <div class='col text-center'><span class='statuslabel error'></span></div>
        </div>
        <div class='row'>
        <div class='col'><input id='regupdatebutton' type='submit' class='btn btn-register' value='Update'/></div>
        </div>
    </form>
{% endcall %}

{% call m.modal('registermodalsession', 'Register For Event', '') %}
    <div class='row'>
        <div class='col text-center'><a href='cars'><span class='fa fa-car'></span>Create,Edit and Delete Cars Here</a></div>
    </div>
    <div class='row nocarhelp'><div class='col'>You have no cars to register, you can create one at the link above.  Class/index are not important for this event.</div></div>

    <form id='registerformsession' action='{{url_for(".sessionspost")}}' method='POST'>
        <input type='hidden' name='eventid' value=''/>
        <div class='row'><div class='col text-center'>You can select any car, the class/index are ignored for this event</div></div>
        <div class='row'><div class='col text-center'>&nbsp;</div></div>

        <div id='registersessionmarker' class='row mt-2'>
        <div class='col text-center'><span class='statuslabel error'></span></div>
        </div>
        <div class='row'>
        <div class='col'><input id='regupdatebutton' type='submit' class='btn btn-register' value='Update'/></div>
        </div>
    </form>
{% endcall %}

{% call m.modal('ordermodal', 'Payment Selection', '') %}
    <form id='orderform' action='{{url_for(".order")}}' method='POST'>
        <input type='hidden' name='eventid' value=''/>
        <input type='hidden' name='square-nonce' value=''/>
        {% for c in cars.values() %}
        <div class='row align-items-center' id='payrow-{{c.carid}}'>
        <div class="col">{{rm.carDisplay(c)}}</div>
        <div class="col">
            <select name='pay+{{c.carid}}+'>
            </select>
        </div>
        </div>
        {% endfor %}
        {% for s in ('AM', 'PM', 'Day') %}
        <div class='row align-items-center' id='payrow-{{s}}'>
        <div class="col text-right font-weight-bold">{{s}} Session</div>
        <div class="col">
            <select name='pay++{{s}}'>
            </select>
        </div>
        </div>
        {% endfor %}
        <div class='row mt-2 paypal-row'>
            {% if config.PAYMENT_FAKE %}
            <div class='col'><input id='fakebutton' type='submit' class='btn btn-register' value='Fake Checkout'/></div>
            {% else %}
            <div class='col text-center' id='paypal-button-container'></div>
            {% endif %}
        </div>
        <div class='row mt-2 square-row'>
            <div class='col'><input id='sqcheckoutbutton' type='submit' class='btn btn-register' value='Square Checkout'/></div>
        </div>
        <div class='col text-center'><span class='statuslabel error'></span></div>
    </form>
{% endcall %}


{% call m.modal('squaremodal', 'Square Payment', '', '') %}
    <form id='squareform' action='{{url_for(".order")}}' method='POST'>
        <input type='hidden' name='eventid' value=''/>
        <input type='hidden' name='square-nonce' value=''/>
            <hr/>
            <div id="sq-card" class="col"></div>
            <button id="sq-creditcard" class="btn btn-register col text-center" onclick="onGetCardNonce(event)">Square Checkout</button>
        <div class='col text-center'><span class='statuslabel error'></span></div>
    </form>
{% endcall %}

{% endblock content %}

