{% extends "register/bluebase.html" %}
{% import 'common/macros.html' as m %}
{% import 'register/macros.html' as rm %}

{% block headers %}
{{super()}}
<script type="text/javascript">

// Submit change requests/payments via AJAX and then update the event section separately
function eventRelativeSubmit(form)
{
    form.closest('.modal').modal('hide');
    var eventid = form.find('input[name=eventid]').val();
    var targetdiv = $('#eventtog'+eventid);
    var sheight = targetdiv.height();
    targetdiv.html('<i class="fa fa-spinner fa-pulse fa-3x fa-fw text-center"></i>');
    targetdiv.height(sheight);

    $.ajax({
        dataType: "json",
        url: form.attr('action'),
        data: form.serialize(),
        method: 'POST',
        success: function(data) { 
            if (data.redirect) {
                window.location.href = data.redirect;
            } else {
                targetdiv.html(data.html); 
            }
        },
        error: function(xhr, stat, error) { targetdiv.html('<div class="error">'+xhr.responseText+'</div>'); },
        complete: function(xhr) { targetdiv.height('auto'); }
        });
}

$(document).ready(function() { 
    $('[id^=eventtog]').each(function (ii, val) {
        add_collapse_icons('#'+this.id); 
    });

    $('#paymentmodal').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget) // Button that triggered the modal
        initpaymentform('#paymentform', button.data('eventid'));
    });

    $('#registermodal').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget) // Button that triggered the modal
        initregform('#registerform', button.data('eventid'), button.data('limit'), button.data('msg'))
    });

    $('#paymentform input[type=submit]').click(function(e) {
        e.preventDefault();
        eventRelativeSubmit($('#paymentform'));
    });

    $('#registerform input[type=submit]').click(function (e) {
        e.preventDefault();
        eventRelativeSubmit($('#registerform'));
    });
});


function initpaymentform(id, eventid)
{
    var me = $(id);
    var itemlist = gItems[gAccounts[eventid]];

    me.find('input[name=eventid]').val(eventid);
    me.find('select').each(function(index) {
        var select = $(this);
        select.find('option').remove(); 
        select.append($('<option>').attr('value', '').text(''));
        $.each(itemlist, function() {
            select.append($('<option>').attr('value', this.itemid).text(this.name + " - $" + (this.price/100).toFixed(2)));
        });
    });
}

function initregform(id, eventid, limit, msg)
{
    var me = $(id);
    var checkmax = function() {
        var dodisable = (me.find(":checked").length >= limit);
        me.find('input[type=checkbox]:unchecked').prop('disabled', dodisable);
        me.find('.statuslabel').html( dodisable && msg || "");
    };

    me.find('input[name=eventid]').val(eventid);
    me.find('input[type=checkbox]').prop('checked', false).prop('disabled', false).click(checkmax);
    gRegistered[eventid].forEach(function (regentry) {
        me.find("input[name="+regentry.carid+"]").prop('checked', true);
    });

    checkmax();
}

var gRegistered = Array();
var gAccounts = Array();
{% for ev in events -%}
{% if accounts[ev.eventid] -%}
gAccounts["{{ev.eventid}}"] = "{{accounts[ev.eventid].accountid}}";
{% endif -%}
{% endfor -%}
var gItems = {{pitems|to_json|safe}};
</script>
{% endblock headers %}


{% block content %}
{{super()}}

<div id='eventsouter'>
<div id='eventscontainer' class='container'>
    <div class='title'>Events in {{g.seriesname}}</div>
{% for ev in events %}
    {% set eclass = ev.isOpen() and "eventopen show" or "eventclosed" %}
    <div class='eventheader {{eclass}} row justify-content-start'>
        <a data-toggle='collapse' href='#eventtog{{ev.eventid}}'>
        <span class='fa'></span>
        <span class='eventdate'>{{ev.date.strftime('%a %b %d')}}</span>
        <span class='eventname'>{{ev.name}}</span>
        </a>
    </div>

    <div id='eventtog{{ev.eventid}}' data-eventid='{{ev.eventid}}' class='eventholder {{eclass}} collapse row'>
    {{rm.eventdisplay(ev, cars, registered[ev.eventid], payments[ev.eventid], accounts[ev.eventid])}}
    </div>

{% endfor %}
</div>
</div>

{% call m.modal('registermodal', 'Register Cars', '') %}
    <form id='registerform' action='{{url_for(".eventspost")}}' method='POST'>
        <input type='hidden' name='eventid' value=''/>
        <div class='row'>
        <div class='col-2'></div>
        <div class='col-10'><a href='cars'><span class='fa fa-car'></span>Create,Edit and Delete Cars Here</a></div>
        </div>
        {% for c in cars.values() %}
        <div class='row align-items-center'>
        <input class="col-2" name="{{c.carid}}" type="checkbox" value="y"/>
        <label class="col-10" for="{{c.carid}}">{{rm.carDisplay(c)}}</label>
        </div>
        {% endfor %}
        <div class='row mt-2'>
        <div class='col text-center'><span class='statuslabel error'></span></div>
        </div>
        <div class='row'>
        <div class='col'><input id='regupdatebutton' type='submit' class='btn btn-register' value='Update'/></div>
        </div>
    </form>
{% endcall %}


{% call m.modal('paymentmodal', 'Payment', '') %}
    <form id='paymentform' action='{{url_for(".payment")}}' method='POST'>
        <input type='hidden' name='eventid' value=''/>
        {% for c in cars.values() %}
        <div class='row align-items-center'>
        <div class="col">{{rm.carDisplay(c)}}</div>
        <div class="col">
            <select name='{{"pay-{}".format(c.carid)}}'>
            </select>
        </div>
        </div>
        {% endfor %}
        <div class='row'>
        <div class='col'><input id='checkoutbutton' type='submit' class='btn btn-register' value='Checkout'/></div>
        </div>
    </form>
{% endcall %}

{% endblock content %}

