
{% macro driverDisplay(driver) %}
{% set basic = ('address', 'city', 'state', 'zip', 'phone', 'brag', 'sponsor') %}

<div class='driverwrapper'>
<div class='name'>{{driver.firstname}} {{driver.lastname}}</div>
<div class='driverid'>{{driver.driverid}}</div>
<div class='email'>{{driver.email}}</div>
<div class='membership'>{{driver.membership}}</div>
<div class='address'>{{driver.attr.address}}</div>
<div class='csz'>{{driver.attr.city}} {{driver.attr.state}} {{driver.attr.zip}}</div>
<div class='phone'>{{driver.attr.phone}}</div>
{% if driver.attr.brag %}
<div class='brag'>Brag: {{driver.attr.brag}}</div>
{% endif %}
{% if driver.attr.sponsor %}
<div class='dsponsor'>Sponsor: {{driver.attr.sponsor}}</div>
{% endif %}

{% for k, v in driver.attr.items(): -%}
{%- if k not in basic -%}
<div class='{{k}}'>{{v}}</div>
{%- endif -%}
{%- endfor %}
</div>

{% endmacro %}


{% macro carDisplay(car, unpaid=False) %}
<div class='cardisplay'>
{% set istr = g.classdata.getIndexStr(car) -%}
<span class='code'>{{car.classcode}}/{{car.number}} {{istr and "("+istr+")" or ""}}
{% if   paid %}<span class='label paid'>Paid</span>{% endif %}
{% if unpaid %}<span class='label unpaid'>Pending Payment</span>{% endif %}
</span>
<span class='desc'>{{car.attr.year}} {{car.attr.make}} {{car.attr.model}} {{car.attr.color}}</span> 
</div>
{% endmacro %}


{% macro  paypalLink(event) %}
    <form class='paypalform' action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_blank'>
    <span class='eimage'>
    <input type='hidden' name='cmd' value='_xclick' />
    <input type='hidden' name='business' value='{{event.paypal}}' />
    <input type='hidden' name='item_name' value='{{event.name}}' />
    <input type='hidden' name='custom' value='{{g.driver.driverid}}/{{event.eventid}}' />
    <input type='hidden' name='amount' value='{{event.cost}}' />
    <input type='hidden' name='currency_code' value='USD' />
    <input type='image' src='https://www.paypal.com/en_US/i/btn/x-click-but3.gif' name='submit'
                        alt='Make payments with payPal - it&#039;s fast, free and secure!' />
    </span>
    </form>
{% endmacro %}


{% macro  entryLink(ev, text) %}
<a class='viewlink' href='{{url_for('.view', eventid=ev.eventid)}}'>{{text}}</a>
{% endmacro %}


{% macro  eventdisplay(ev, ecars, registered, paid, sqappid, error='') %}
    <script type="text/javascript">
    gRegistered['{{ev.eventid}}'] = {{registered|to_json|safe}};
    gCosts['{{ev.eventid}}'] = {options: {{ev.getCostOptions()|safe}}, required:{{ev.paymentRequired() and 'true' or 'false'}} };
    </script>

    <div class='insidewrapper row'> {# have to reset row inside collapse it seems #}
    <div class='detailscontainer col-5'>
    <div class='header'>Details</div>

    <dl>
    {%- if not ev.hasOpened() %}
    <dt>Opens</dt><dd>{{ev.regopened.strftime('%b %d at %I:%M%p')}}</dd>
    {%- endif %}
    <dt>{{ev.hasClosed() and "Closed" or "Closes"}}</dt><dd>{{ev.regclosed.strftime('%b %d %I:%M %p')}}</dd>

    {%- for k, v in ev.attr.items() -%}
    {%- if k not in ('cost', 'payments', 'paymentreq', 'notes') and v %}
    <dt>{{k|title}}</dt><dd>{{v}}</dd>
    {%- endif %}
    {%- endfor %}

    {%- if ev.hasOpened() %}
        {%-  if ev.totlimit %}
            {%-  if ev.sinlimit %}
            <dt>Singles</dt><dd>{{entryLink(ev, "%s/%s" % (ev.drivercount, ev.sinlimit))}}</dd>
            <dt>Total</dt><dd>{{entryLink(ev, "%s/%s" % (ev.entrycount, ev.totlimit))}}</dd>
            {%-  else %}
            <dt>Entries</dt><dd>{{entryLink(ev, "%s/%s" % (ev.entrycount, ev.totlimit))}}</dd>
            {%-  endif %}
        {%-  else %}
        <dt>Entries</dt><dd>{{entryLink(ev, ev.entrycount)}}</dd>
        {%-  endif %}
    {%- endif %}

    {%- if not ev.hasClosed() and ev.attr.notes %}
    <dt>Notes</dt><dd {{ev.attr.notes is htmlstr and "class='ddhtml'"|safe or ""}}>{{ev.attr.notes|safe}}</dd>
    {%- endif %}
    </dl>
    </div>

    <div class='eventcarlist col-7'>
        <div class='header'>Your Registration</div>
        <div class='error'>{{error}}</div>
        <ol>
        {%- for reg in registered %}
            <li>{{carDisplay(ecars[reg.carid], ev.paymentRequired() and not reg.txid)}}</li>
        {%- endfor %}
        </ol>

        {%- if ev.isOpen() %}
            {%- if ev.mylimit > 0 or registered|length > 0 %}
            <button class='register btn btn-outline-register' data-eventid='{{ev.eventid}}' data-limit='{{ev.mylimit}}' data-msg='{{ev.limitmessage}}' data-cost='{{ev.attr.costx}}' data-toggle='modal' data-target='#registermodal'>Add/Change</button>
            {%- endif %}
            <button class='register btn btn-outline-register' data-eventid='{{ev.eventid}}' data-toggle='modal' data-target='#squaremodal'>Make Payment</button>
            {% if paid %}<span class='payments'>Payments Made<span class='amount'>{{paid|d2}}</span></span>{% endif %}

            {%- if registered|length >= ev.mylimit and ev.limitmessage %}
            <div class='alert alert-warning'>{{ev.limitmessage}}</div>
            {%- endif %}
        {%- endif %}
    </div>
    </div>

{% endmacro %}


