
{% macro driverDisplay(driver) %}
{% set basic = ('address', 'city', 'state', 'zip', 'phone', 'brag', 'sponsor') %}

<div class='driverwrapper'>
<div class='name'>{{driver.firstname}} {{driver.lastname}}</div>
<div class='driverid'>{{driver.driverid}}</div>
<div class='email'>{{driver.email}} <span class='optout'>{{driver.optoutmail and "Do Not Contact" or ""}}</span></div>
<div class='membership'>{{driver.membership}}</div>
<div class='address'>{{driver.attr.address}}</div>
<div class='csz'>{{driver.attr.city}} {{driver.attr.state}} {{driver.attr.zip}}</div>
<div class='phone'>{{driver.attr.phone}}</div>
{% if driver.attr.brag %}
<div class='brag'>Brag: {{driver.attr.brag}}</div>
{% endif %}
{% if driver.attr.sponsor %}
<div class='dsponsor'>Sponsor: {{driver.attr.sponsor}}</div>
{% endif %}

{% for k, v in driver.attr.items(): -%}
{%- if k not in basic -%}
<div class='{{k}}'>{{v}}</div>
{%- endif -%}
{%- endfor %}
</div>

{% endmacro %}


{% macro carDisplay(car, unpaid=False, paid="") %}
<div class='cardisplay'>
{% if g.classdata %}
{% set istr = g.classdata.getIndexStr(car) -%}
{% endif %}
<span class='code'>{{car.classcode}}/{{car.number}} {{istr and "("+istr+")" or ""}}
{% if   paid %}<span class='label paid'>{{paid}}</span>{% endif %}
{% if unpaid %}<span class='label unpaid'>Payment Required</span>{% endif %}
</span>
<span class='desc'>{{car.attr.year}} {{car.attr.make}} {{car.attr.model}} {{car.attr.color}}</span> 
</div>
{% endmacro %}


{% macro  entryLink(ev, text) %}
<a class='viewlink' href='{{url_for('.view', eventid=ev.eventid)}}'>{{text}}</a>
{% endmacro %}


{% macro  eventdisplay(ev, ecars, registered, showpayment, error='') %}
    <script type="text/javascript">
    gRegistered['{{ev.eventid}}'] = [
        {% for reg in registered -%}
        { carid: '{{reg.carid}}', payments: {{reg.payments|length}} },
        {% endfor -%}
    ];
    </script>

    <div class='insidewrapper row'> {# have to reset row inside collapse it seems #}
    <div class='detailscontainer col-5'>
    <div class='header'>Details</div>

    <dl>
    {%- if not ev.hasOpened() %}
    <dt>Opens</dt><dd>{{ev.regopened|timeprint('%b %d %I:%M %p %Z')}}</dd>
    {%- endif %}
    <dt>{{ev.hasClosed() and "Closed" or "Closes"}}</dt><dd>{{ev.regclosed|timeprint('%b %d %I:%M %p %Z')}}</dd>

    {%- for k, v in ev.attr.items() -%}
    {%- if k not in ('paymentreq', 'notes') and v %}
    <dt>{{k|title}}</dt><dd>{{v}}</dd>
    {%- endif %}
    {%- endfor %}

    {%- if ev.hasOpened() %}
        {%-  if ev.totlimit %}
            {%-  if ev.sinlimit %}
            <dt>Singles</dt><dd>{{entryLink(ev, "%s/%s" % (ev.drivercount, ev.sinlimit))}}</dd>
            <dt>Total</dt><dd>{{entryLink(ev, "%s/%s" % (ev.entrycount, ev.totlimit))}}</dd>
            {%-  else %}
            <dt>Entries</dt><dd>{{entryLink(ev, "%s/%s" % (ev.entrycount, ev.totlimit))}}</dd>
            {%-  endif %}
        {%-  else %}
        <dt>Entries</dt><dd>{{entryLink(ev, ev.entrycount)}}</dd>
        {%-  endif %}
    {%- endif %}

    {%- if not ev.hasClosed() and ev.attr.notes %}
    <dt>Notes</dt><dd {{ev.attr.notes is htmlstr and "class='ddhtml'"|safe or ""}}>{{ev.attr.notes|safe}}</dd>
    {%- endif %}
    </dl>
    </div>

    <div class='eventcarlist col-7'>
        <div class='header'>Your Registration</div>
        <div class='error'>{{error}}</div>
        <ol>
        {%- for reg in registered %}
            {% if reg.payments|length %}
                {% if reg.payments[0].itemname %}
                    {% set paidlabel = "Paid - " + reg.payments[0].itemname %}
                {% else %}
                    {% set paidlabel = "Paid" %}
                {% endif %}
            {% else %}
                {% set paidlabel = "" %}
            {% endif %}
            <li>{{carDisplay(ecars[reg.carid], ev.paymentRequired() and reg.payments|length == 0, paidlabel)}}</li>
        {%- endfor %}
        </ol>

        {%- if ev.isOpen() %}
            {%- if ev.mylimit > 0 or registered|length > 0 %}
            <button class='register btn btn-outline-register' data-eventid='{{ev.eventid}}' data-limit='{{ev.mylimit}}' data-msg='{{ev.limitmessage}}' data-toggle='modal' data-target='#registermodal'>Add/Change</button>
            {%- endif %}
            {%- if showpayment %}
            <button class='register btn btn-outline-register' data-eventid='{{ev.eventid}}' data-toggle='modal' data-target='#paymentmodal'>Make Payment</button>
            {%- endif %}

            {%- if registered|length >= ev.mylimit and ev.limitmessage %}
            <div><span class='alert alert-warning'>{{ev.limitmessage}}</span></div>
            {%- endif %}
        {%- endif %}
    </div>
    </div>

{% endmacro %}


