{% extends "register/bluebase.html" %}
{% import 'common/macros.html' as m %}
{% import 'register/macros.html' as rm %}

{% block headers %}
{{super()}}
{% if askprofile %}
<script>
$(document).ready(function(){
    $('#profilemodal').modal('show');
});
</script>
{% endif %}
{% endblock %}


{% block content %}
{{super()}}

<div id='profileouter' class='container'>

<div class='row justify-content-center'>

<div class='col-md-6'>
<div class='title'>Profile For All Series</div>
{{rm.driverDisplay(g.driver)}}

<div class='groupswrapper'>
<div class='gtitle'>Email Groups</div>
{% for eid in listids|sort %}
<div>
{% if eid in unsubids %}
<span class='fas fa-times'></span>
{% else %}
<span class='fas fa-check'></span>
{% endif %} 
{{eid}}
</div>
{% endfor %}

</div>

<button class='editprofile btn btn-outline-register' title='Edit Profile' data-toggle='modal' data-target='#profilemodal'>Edit Profile</button>
<button class='changepassword btn btn-outline-register' title='Change Password' data-toggle='modal' data-target='#passwordmodal'>Change Password</button>
</div>


<div class='col-md-6'>
<div class='title'>
Upcoming Entries For All Series
</div>

{% for date,events in upcoming.items()|sort %}
{% for (series,name),entries in events.items()|sort %}
<div class='row'>
<div class='col eventtitle'>
<span class='date'>{{date.strftime('%a %b %d')}} </span>
<span class='series'>{{series}} </span>
<span class='name'>{{name}}</span>
<ol>
{% for e in entries %}
<li>{{rm.carDisplay(e)}}</li>
{% endfor %}
</ol>
{% endfor %}
{% endfor %}
<div><a class='icallink' href='{{url_for(".ical", driverid=g.driver.driverid)}}'><span class='far fa-calendar'></span>Dynamic iCal Link</a></div>
</div> {# title col #}
</div> {# row #}

</div> {# col-md-6 #}
</div> {# row #}
</div> {# container #}

{{m.modal('profilemodal', 'Profile Editor', profileform.html('profileform', url_for('.profilepost'), 'post', 'btn-register', 'col-md-4', 'col-md-8'))}}
{{m.modal('passwordmodal', 'Password Change', passwordform.html('passwordform', url_for('.passwordupdate'), 'post', 'btn-register', 'col-md-4', 'col-md-8'))}}

{% endblock content %}
