{% extends "register/bluebase.html" %}
{% import 'common/macros.html' as m %}
{% import 'register/macros.html' as rm %}

{% block headers %}
{{super()}}
{% if askprofile %}
<script>
$(document).ready(function(){
    $('#profilemodal').modal('show');
});
</script>
{% endif %}

<style>
.checklist { column-count: 4; }
@media (max-width: 992px) { .checklist { column-count: 3 !important; }}
</style>

{% endblock %}


{% block content %}
{{super()}}

<div id='profileouter' class='container'>

<div class='row justify-content-center'>

<div class='col-md-6'>
<div class='title'>Profile For All Series</div>
{{rm.driverDisplay(g.driver)}}

{% if not g.driver.optoutmail %}
<div class='groupswrapper'>
<div class='gtitle'>Email Groups</div>
<div class='checklist'>
{% for eid in listids|sort %}
<div class=''>
{% if eid in unsubids %}
<span class='fas fa-times'></span>
{% else %}
<span class='fas fa-check'></span>
{% endif %} 
{{eid}}
</div>
{% endfor %}
</div>

</div>
{% endif %}

<button class='editprofile btn btn-outline-register' title='Edit Profile' data-toggle='modal' data-target='#profilemodal'>Edit Profile</button>
<button class='changepassword btn btn-outline-register' title='Change Password' data-toggle='modal' data-target='#passwordmodal'>Change Password</button>
{% if not g.driver.optoutmail %}
<button class='editgroups  btn btn-outline-register' title='Groups' data-toggle='modal' data-target='#groupsmodal'>Groups</button>
{% endif %}
</div>


<div class='col-md-6'>
<div class='title'>
Upcoming Entries For All Series
</div>

{% for date,events in upcoming.items()|sort %}
{% for (series,name),entries in events.items()|sort %}
<div class='row'>
<div class='col eventtitle'>
<span class='date'>{{date.strftime('%a %b %d')}} </span>
<span class='series'>{{series}} </span>
<span class='name'>{{name}}</span>
<ol>
{% for e in entries %}
<li>{{rm.carDisplay(e, e.session)}}</li>
{% endfor %}
</ol>
{% endfor %}
{% endfor %}
<div><a class='icallink' href='{{url_for(".ical", driverid=g.driver.driverid)}}'><span class='far fa-calendar'></span>Dynamic iCal Link</a></div>
</div> {# title col #}
</div> {# row #}

</div> {# col-md-6 #}
</div> {# row #}
</div> {# container #}

{{m.modal('profilemodal',  'Profile Editor',  profileform.html( 'profileform',  url_for('.profilepost'),    'post', 'btn-register', 'col-md-4', 'col-md-8'))}}
{{m.modal('passwordmodal', 'Password Change', passwordform.html('passwordform', url_for('.passwordupdate'), 'post', 'btn-register', 'col-md-4', 'col-md-8'))}}

{% call m.modal('groupsmodal', 'Un/Subscribe to Emails From Clubs', '') %}
    <form id='groupsform' action='{{url_for(".subunsub")}}' method='POST'>
        {% for eid in listids|sort %}
        <div class='row'>
        <div class='col-2 p-0'><input type='checkbox' {{eid not in unsubids and 'checked' or ''}} name='{{eid}}'></input></div>
        <div class='col pt-2'>{{eid}}</div>
        </div>
        {% endfor %}
        <div class='row'>
        <div class='col p-0'><input class="btn btn-register" type="submit" value="Update Subscriptions"></div>
        </div>
    </form>
{% endcall %}


{% endblock content %}
