{% extends "register/bluebase.html" %}
{% import 'common/macros.html' as m %}
{% import 'register/macros.html' as rm %}

{% block content %}
{{super()}}

<div id='profileouter' class='container'>

<div class='row justify-content-center'>

<div class='col-md-6'>
<div class='title'>Profile For All Series</div>
{{rm.driverDisplay(g.driver)}}
<button class='editprofile btn btn-outline-register' title='Edit Profile' data-toggle='modal' data-target='#profilemodal'>Edit Profile</button>
<button class='changepassword btn btn-outline-register' title='Change Password' data-toggle='modal' data-target='#passwordmodal'>Change Password</button>
</div>

<div class='col-md-6'>
<div class='title'>
<a class='icallink' href='{{url_for(".ical", driverid=g.driver.driverid)}}'><span class='fa fa-calendar'></span>ical</a>
Upcoming Entries For All Series
</div>

{% for date,events in upcoming.items()|sort %}
{% for (series,name),entries in events.items()|sort %}
<div class='row'>
<div class='col eventtitle'>
<span class='date'>{{date.strftime('%a %b %d')}} </span>
<span class='series'>{{series}} </span>
<span class='name'>{{name}}</span>
<ol>
{% for e in entries %}
<li>{{rm.carDisplay(e)}}</li>
{% endfor %}
</ol>
{% endfor %}
{% endfor %}
</div> {# title col #}
</div> {# row #}

</div> {# col-md-6 #}
</div> {# row #}
</div> {# container #}

{{m.modal('profilemodal', 'Profile Editor', profileform.html('profileform', url_for('.profilepost'), 'post', 'btn-register', 'col-md-4', 'col-md-8'))}}
{{m.modal('passwordmodal', 'Password Change', passwordform.html('passwordform', url_for('.passwordupdate'), 'post', 'btn-register', 'col-md-4', 'col-md-8'))}}

{% endblock content %}
