{% extends "common/base.html" %}
{% block headers %}
{%- assets filters="libsass", depends="scss/*.scss", output="register.css", "scss/register.scss" -%}
<link rel="stylesheet" href="{{ASSET_URL}}" /> 
{%- endassets -%}

{% assets output="register.js", "extern/jquery-3.2.0.js", "extern/jquery.validate-1.16.js", "extern/popper-1.11.0.js", "extern/bootstrap-4.0.0b.js",
								"js/common.js", "js/register.js" %}
	<script type="text/javascript" src="{{ASSET_URL}}"></script>
{% endassets %}

{% endblock %}
