{% extends "results/bluebase.html" %}
{% block headers %}
{{super()}}
<style>
    .index, .number { text-align: center; }
</style>
{% endblock headers %}

{% block content %}
<div class='container-fluid'>
<h3 class='seriesname'>{{g.settings.seriesname}}</h3>
<h4 class='eventname'>{{event.name}}</h4>
<h6 class='eventinfo'>{{event.getRegisteredCount()}} Entries ({{event.getRegisteredDriverCount()}} Unique)</h6>
<div style='margin: 1rem;'></div>

<table class='registration'>
{% for classcode,classentries in registered.items()|sort %}
<tr class='head'>
    <th colspan='4'>{{classcode}} - {{g.classdata.classlist[classcode].descrip}}</th>
    <th colspan='1'>{{classentries|length}} Entries</th></tr>
<tr class='subhead'><th></th><th>Name</th><th>#</th><th>Idx</th><th>Car</th></tr>

{% for entry in classentries %}
<tr>
<td class='counter'>{{loop.index}}</td>
<td class='name'>{{entry.firstname}} {{entry.lastname}}</td>
<td class='number'>{{entry.number}}</td>
<td class='index'>{{g.classdata.getIndexStr(entry)}}</td>
<td>{{entry.attr.year}} {{entry.attr.make}} {{entry.attr.model}} {{entry.attr.color}}</td>
</tr>
{% endfor %}

{% endfor %}
</table>
</div>

{% endblock content %}
