{% extends "register/bluebase.html" %}
{% import "register/macros.html" as m %}

{% block content %}

<div id='loginouter' class='container'>

<h3>Unsubscribe</h3>

<div class='row justify-content-md-center'>{{ m.flashdisplay('col col-md-auto') }}</div>

{% if error %}
    <p>{{error|safe}}</p>
{% else %}
    <p>{{driver.firstname}} {{driver.lastname}} &lt;{{driver.email}}&gt; will no longer receive email from the <b>{{listid}}</b> admins.</p>
    <p>If you want to unsubscribe from all scorekeeper group emails, edit your <a href='{{url_for('Register.profile')}}'>Profile</a> and select <b>"Do No Contact"</b></p>
{% endif %}

</div> <!-- loginouter -->
{% endblock content %}
